<!-- Trigger the modal with a button -->
       
  <!-- Modal -->
  <div id="NewActionModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">New Action</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available, but the majority.
               </h4>

               <!-- main-modal-card-container -->
               <div class="main-modal-card-container">

               <!--________________ Only visibible for Teacher Role _____________-->
               <!-- modal-card-container -->
               <%
                 var admin,teacher = "";
                 if (role === 'Admin') {
                    admin = "";
                    teacher = "visibility";
                 } else
                 {
                    admin = "visibility";
                    teacher = "";
                 }

               %>
                <div class="modal-card-container <%= teacher %>" data-toggle="modal" data-target="#AddExamModal" data-val="Exam">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #ebefff, #e1e4fe);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/exams_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Exam</p>
                  </div>
                </div>
               <!-- End modal-card-container -->
               <!-- modal-card-container -->
                <div class="modal-card-container <%= teacher %>" data-toggle="modal" data-target="#AddHomeworkModal" data-val="Homework">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #fee8f7, #f6d4e7);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/homeworks_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Homework</p>
                  </div>
                </div>
               <!-- End modal-card-container -->

                <!--________________ Only visibible for Teacher Role _____________-->

               <!-- modal-card-container -->
                <div class="modal-card-container <%= admin %>"  data-toggle="modal" data-target="#AddStudentModal" data-val="Student">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #ebefff, #e1e4fe);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/students_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Student</p>
                  </div>
                </div>
               <!-- End modal-card-container -->
               <!-- modal-card-container -->
                <div class="modal-card-container <%= admin %>"  data-toggle="modal" data-target="#AddTeacherModal" data-val="Teacher">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #fee8f7, #f6d4e7);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/teachers_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Teacher</p>
                  </div>
                </div>
               <!-- End modal-card-container -->

                <!--________________ Only visibible for Admin Role _____________-->
               <!-- modal-card-container -->
                <div class="modal-card-container <%= admin %>" data-toggle="modal" data-target="#FinanceModal" data-val="Payment">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container"
                        style="background-image: linear-gradient(to bottom, #dfffeb, #d2f3db);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/finances_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Payment</p>
                  </div>
                </div>
               <!-- End modal-card-container -->
                <!--________________ Only visibible for Admin Role _____________-->

               <!-- modal-card-container -->
                <div class="modal-card-container"  data-toggle="modal" data-target="#AddAbsenceModal" data-val="Absence">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #ffeadc, #fad9c8 100%);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/absence_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Absence</p>
                  </div>
                </div>
               <!-- End modal-card-container -->
               <!-- modal-card-container -->
                <div class="modal-card-container"  data-toggle="modal" data-target="#AddAttitudeModal" data-val="Attitude">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #e1f9fe, #cdebf6 100%);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/attitude_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Attitude</p>
                  </div>
                </div>
               <!-- End modal-card-container -->

               <!--________________ Only visibible for Admin Role _____________-->
               <!-- modal-card-container -->
                <div class="modal-card-container" data-toggle="modal" data-target="#AddAbsenceModal" data-val="Retard">
                  <div class="modal-card-sub-container">
                    <div class="modal-card-img-container" 
                         style="background-image: linear-gradient(to bottom, #ffe8e8, #fbd5d5 100%);">
                        <img class="modal-card-img" src="assets/icons/modal_icons/retard_inactive.svg" alt="img"/>
                    </div>
                    <p class="modal-card-label">Retard</p>
                  </div>
                </div>
               <!-- End modal-card-container -->
               <!--________________ Only visibible for Admin Role _____________-->

               </div>
               <!-- End main-modal-card-container -->

                <div class="modal-btn-container" data-toggle="modal" data-target="#ImportUsersModal">
                  <div class="modal-btn">
                    <span class="modal-btn-text">Import from file</span>
                  </div>
               </div>
            </div>

        </div>

      </div>

    </div>

  </div>

<!--_____________ End Absence modal _____________-->

<!--_____________ Student Page ________________-->

 <!--_____________ Student modal _____________-->

<!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <div id="AddStudentModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container"  id="student_form">

               <h1 class="sub-container-main-header">New Student</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <!--________________  Student Form __________________-->

                  <div class="sections-main-sub-container-right-main-header" >

                    <div class="sections-main-sub-container-right-main-header-info">

                      <div class="form-group form-group-modal-extra-style">
                        <div class="input-img-container input-rounded-img-container">
                          <img class="input-img"  src="assets/icons/Logo_placeholder.svg" id="output-img" alt="profile">
                           <input type="file"  accept="image/*" name="profile_image" id="profile" style="display: none;">
                          <div class="rounded-button">
                            <img class="icon" src="assets/icons/plus.svg">
                            <label for="profile" style="cursor: pointer; display: block; height: 100%;width: 100%;">
                            </label></img>
                          </div>
                        </div>
                        <p class="label-full-name label-full-name-modal" id="student_name"></p>
                      </div>

                    </div>

                  </div>

                  <div class="sections-main-sub-container-right-main-label-divider">
                        <p>Student details</p>
                  </div>

                  <div class="row sections-main-sub-container-right-main-rows">

                    <div class="col-md-6">
                      <div class="form-group group">
                        <input type="text" required="" name="first_name">
                        <label class="input-label">
                          <span class="input-label-text">First name</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group group">
                        <input type="text" required="" name="last_name">
                        <label class="input-label">
                          <span class="input-label-text">Last name</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>

                  </div>

                  <div class="row sections-main-sub-container-right-main-rows">

                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first input_level">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right ">
                              <input type="text" class="input-dropdown" required name="level">
                              
                              <label class="input-label">
                                <span class="input-label-text">Level</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options">
                                   <% for(var i=0; i<levels.length; i++) {%>
                                     <li data-val="<%= levels[i].Level_Label %>"><%= levels[i].Level_Label %></li>
                                  <% } %>
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>


                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first input_classe">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right">
                              <input type="text" class="input-dropdown" required name="classe">
                              
                              <label class="input-label">
                                <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options list-classe">
                                
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>

                  <div class="row sections-main-sub-container-right-main-rows">

                    <div class="col-md-6">
                      <div class="form-group group ">
                        <input type="text" required="" name="phone_number">
                        <label class="input-label">
                          <span class="input-label-text">Phone number</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group group dynamic-form-input-text-container-icon">
                         <input type="text" class="input-text input-date input-date-illimited" required="" placeholder="" name="birthdate">
                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                          <label class="input-label">
                            <span class="input-label-text">Birthdate</span><span class="input-label-bg-mask"></span>
                          </label>
                      </div>
                    </div>
                    
                  </div>

                  <div class="row sections-main-sub-container-right-main-rows">

                    <div class="col-md-12">
                      <div class="form-group group ">
                        <input type="text" required="" name="student_address">
                        <label class="input-label">
                          <span class="input-label-text">Address</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>
                    
                  </div>

                  <div class="sections-main-sub-container-right-main-label-divider">
                        <p>Parents details</p>
                  </div>

                  <div class="row sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-rows-parents">

                    <div class="dynamic-form-input-parent dynamic-form-input-first">
                      <div class="col-md-6">
                        <div class="form-group group ">
                          <input type="text" required="" name="parent_name">
                          <label class="input-label">
                            <span class="input-label-text">Parent full name</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-md-5">
                        <div class="form-group group ">
                          <input type="text" required="" name="parent_phone">
                          <label class="input-label">
                            <span class="input-label-text">Parent phone number</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-md-1">
                        <div class="square-button">
                          <img class="icon" src="assets/icons/minus.svg">
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">
                      <div class="square-button square-button-extra-style" id="Modal_Parents_New_Dynamic_Form_Input">
                        <img class="icon" src="assets/icons/plus.svg">
                      </div>
                    </div>
                    
                  </div>

                  <div class="sections-main-sub-container-right-main-label-divider subscription-divider">
                        <p>Subscription</p>
                  </div>

                  <div id="list_sub" class="row sections-main-sub-container-right-main-rows sections-label-checkbox-container-rows sections-label-checkbox-container-rows-extra-style">

                  </div>

                <!--________________  End Student Form ______________-->

                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveStudent()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                          <span class="button-text" >Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

          </div>

      </div>

    </div>

  </div>

<!--_____________ End Student modal _____________-->


<!--_____________ Absence modal _____________-->

<!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <div id="AddStudentAbsenceModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">Absence & Retard</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <div class="row sections-main-sub-container-right-main-rows">

                    <div class="col-md-6">
                      <div class="form-group group readonly">
                        <input type="text" required="" name="ad_classe" >
                        <label class="input-label">
                          <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div> 
                    <div class="col-md-6">
                      <div class="form-group group readonly">
                        <input type="text" required="" name="ad_student">
                        <label class="input-label">
                          <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>
            
                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Absence or Retard </span> <span class="input-label-bg-mask"></span></label>

                    <div class="sections-checkboxes-main-container">

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                           dynamic-form-input-container-type" data-val="Absence" >
                          <div class="sections-label-checkbox-container " >
                            <div class="form-group group ">
                              <span class="expense_label">Absence</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" checked value="1" data-val="Absence" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Retard">
                          <div class="sections-label-checkbox-container ">
                            <div class="form-group group ">
                              <span class="expense_label">Retard</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="0" data-val="Retard" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                    </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-session">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"> Period or Session </span> <span class="input-label-bg-mask"></span></label>

                    <div class="sections-checkboxes-main-container">

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Period">
                          <div class="sections-label-checkbox-container ">
                            <div class="form-group group ">
                              <span class="expense_label">Period</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="2" data-val="Period" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left "
                           data-val="Session">
                          <div class="sections-label-checkbox-container" >
                            <div class="form-group group ">
                              <span class="expense_label">Session</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="1" data-val="Session" checked  name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                    </div>

                </div>

                <!--- Show in case of Absense combined with Period -->
                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-multi-date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Period</span> <span class="input-label-bg-mask"></span></label>

                  <div class="flex flex-form-group-container">

                    <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="period_start" class="input-text input-date input-date-from-today" required="" placeholder="Start date">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                    </div>

                     <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="period_end" class="input-text input-date input-date-from-today" required="" placeholder="End Date">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                    </div>

                  </div>

                </div>
                <!--- End Show in case of Absense combined with Period -->

                <!--- Show in case of Absense combined with Session || Retard -->

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-one-date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date </span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border  input-date input-date-limited" required="" name="ad_date" placeholder="Select date">
                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                  </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-multi-time">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Select time </span> <span class="input-label-bg-mask"></span></label>

                  <div class="flex flex-form-group-container">

                    <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" class="input-text input-time input-time-from" required="" name="time_start" placeholder="Time">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                    </div>

                     <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="time_end"  class="input-text input-time input-time-to" required="" placeholder="Time">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                    </div>

                  </div>

                </div>

                <!--- End Show in case of Absense combined with Session || Retard -->

                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveAbsence()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal"  >
                          <span class="button-text" >Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

        </div>

      </div>

    </div>

  </div>

<!--_____________ End Absence modal _____________-->


 <!--_____________ Attitude modal _____________-->

<!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <div id="AddAttitudeModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">Attitude</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <div class="row sections-main-sub-container-right-main-rows">


                     <div class="col-md-6">
                      <div class="form-group group readonly">
                        <input type="text" required="" name="at_classe" >
                        <label class="input-label">
                          <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div> 
                    <div class="col-md-6">
                      <div class="form-group group readonly">
                        <input type="text" required="" name="at_student">
                        <label class="input-label">
                          <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>
            
                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Type</span> <span class="input-label-bg-mask"></span></label>

                    <div class="sections-checkboxes-main-container">

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                           dynamic-form-input-container-type" data-val="Positive" >
                          <div class="sections-label-checkbox-container " >
                            <div class="form-group group ">
                              <span class="expense_label">Positive</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" checked value="0" data-val="Positive" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Negative">
                          <div class="sections-label-checkbox-container ">
                            <div class="form-group group ">
                              <span class="expense_label">Negative</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="1" data-val="Negative"  name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                    </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style at_date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date</span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border input-date input-date-from-today" name="at_date" required="" 
                            placeholder="Select date">
                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                  </div>

                </div>

                <div class="row sections-main-sub-container-right-main-rows">
                  <div class="col-xs-12">
                    <div class="form-group group">
                      <textarea class="input-text input-text-area" id="at_note"></textarea>
                      <label class="input-label">
                        <span class="input-label-text">Note</span><span class="input-label-bg-mask"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveAttitude()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                          <span class="button-text" >Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

        </div>

      </div>

    </div>

  </div>

<!--_____________ End Attitude modal _____________-->

<!--_____________ End Student PAge _____________-->


<!--_____________ General Absence modal _____________-->

<!-- Trigger the modal with a button -->
 
    <!-- Modal -->
    <div id="AddAbsenceModal" class="modal" role="dialog">

      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

        <!-- Modal content-->
        <div class="modal-content modal-content-finance">

          <div class="modal-body">

              <!-- modal-body-container -->

              <div class="modal-body-container">

                 <h1 class="sub-container-main-header">Absence & Retard</h1>
                 <h4 class="sub-container-sub-header">
                  There are many variations of passages of Lorem Ipsum available.
                 </h4>

                 <div class="dynamic-form-input-container dynamic-form-input-container-extra-style add-absence-modal-type">

                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Student or Teacher</span> <span class="input-label-bg-mask"></span></label>

                      <div class="sections-checkboxes-main-container">

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left " data-val="Student" >
                            <div class="sections-label-checkbox-container " >
                              <div class="form-group group ">
                                <span class="expense_label">Student</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" checked value="0" data-val="Student" name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Teacher">
                            <div class="sections-label-checkbox-container ">
                              <div class="form-group group ">
                                <span class="expense_label">Teacher</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" value="1" data-val="Teacher"  name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                      </div>

                  </div>

                  <div class="row sections-main-sub-container-right-main-rows">


                      <div class="col-md-6">

                        <div class="dynamic-form-input-dropdown-container">
                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                            <div class="dynamic-form-input">
                              <div class="dynamic-form-input-float-adjust">
                              <div class="form-group group form-group-right">
                                <input type="text" class="input-dropdown" required="">
                                
                                <label class="input-label">
                                  <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                                </label>

                                <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                                <ul class="dynamic-form-input-dropdown-options" style="display: none; opacity: 0;">
                                    <li data-val="Class 1">Class 1</li>
                                    <li data-val="Class 2">Class 2</li>
                                    <li data-val="Class 3">Class 3</li>
                                </ul>
                              </div>
                              </div>
                              <div class="square-button square-button-minus">
                                <img class="icon" src="assets/icons/minus.svg">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-6">

                        <div class="dynamic-form-input-dropdown-container">
                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                            <div class="dynamic-form-input">
                              <div class="dynamic-form-input-float-adjust">
                              <div class="form-group group form-group-right">
                                <input type="text" class="input-dropdown" required="">
                                
                                <label class="input-label">
                                  <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                                </label>

                                <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                                <ul class="dynamic-form-input-dropdown-options" style="display: inline-block; opacity: 1;">
                                    <li data-val="Student 1">Student 1</li>
                                    <li data-val="Student 2">Student 2</li>
                                    <li data-val="Student 2">Student 3</li>
                                </ul>
                              </div>
                              </div>
                              <div class="square-button square-button-minus">
                                <img class="icon" src="assets/icons/minus.svg">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
              
                  </div>

                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Absence or Retard </span> <span class="input-label-bg-mask"></span></label>

                      <div class="sections-checkboxes-main-container">

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                             dynamic-form-input-container-type" data-val="Absence" >
                            <div class="sections-label-checkbox-container " >
                              <div class="form-group group ">
                                <span class="expense_label">Absence</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" checked value="0" data-val="Absence" name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Retard">
                            <div class="sections-label-checkbox-container ">
                              <div class="form-group group ">
                                <span class="expense_label">Retard</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" value="1" data-val="Retard"  name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                      </div>

                  </div>

                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                       dynamic-form-input-container-session">

                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"> Period or Session </span> <span class="input-label-bg-mask"></span></label>

                      <div class="sections-checkboxes-main-container">

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Period">
                            <div class="sections-label-checkbox-container ">
                              <div class="form-group group ">
                                <span class="expense_label">Period</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" value="0" data-val="Period" name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left "
                             data-val="Session">
                            <div class="sections-label-checkbox-container" >
                              <div class="form-group group ">
                                <span class="expense_label">Session</span>
                              </div>
                            </div>
                            <div class="customCheck customCheckRounded">
                              <input type="checkbox" value="1" data-val="Session" checked  name="checkbox" id="" />
                              <label for="ck"></label>
                            </div>
                        </div>

                      </div>

                  </div>

                  <!--- Show in case of Absense combined with Period -->
                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                       dynamic-form-input-container-multi-date">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Period</span> <span class="input-label-bg-mask"></span></label>

                    <div class="flex flex-form-group-container">

                      <div class="form-group group dynamic-form-input-text-container-icon">
                         <input type="text" class="input-text input-date input-date-from-today" required="" placeholder="Start date">
                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                      </div>

                       <div class="form-group group dynamic-form-input-text-container-icon">
                         <input type="text" class="input-text input-date input-date-from-today" required="" placeholder="End Date">
                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                      </div>

                    </div>

                  </div>
                  <!--- End Show in case of Absense combined with Period -->

                  <!--- Show in case of Absense combined with Session || Retard -->

                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                       dynamic-form-input-container-one-date">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date </span> <span class="input-label-bg-mask"></span></label>

                    <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" class="input-text input-extra-border  input-date input-date-from-today" required="" placeholder="Select date">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                    </div>

                  </div>

                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                       dynamic-form-input-container-multi-time">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Select time </span> <span class="input-label-bg-mask"></span></label>

                    <div class="flex flex-form-group-container">

                      <div class="form-group group dynamic-form-input-text-container-icon">
                         <input type="text" class="input-text input-time input-time-from" required="" placeholder="Time">
                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                      </div>

                       <div class="form-group group dynamic-form-input-text-container-icon">
                         <input type="text" class="input-text input-time input-time-to" required="" placeholder="Time">
                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                      </div>

                    </div>

                  </div>

                  <!--- End Show in case of Absense combined with Session || Retard -->

                  <!--  sub-container-form-footer -->
                  <div class="sub-container-form-footer">
                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button ">
                            <span class="button-text" >Save</span>
                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                      </div>
                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal"  >
                            <span class="button-text" >Cancel</span>
                      </div>
                  </div>
                  <!--  End sub-container-form-footer -->

              </div>

          </div>

        </div>

      </div>

    </div>

<!--_____________ End General Absence modal _____________-->

<!--_____________ General ImportUsersModal modal _____________-->

<!-- Trigger the modal with a button -->
 
    <!-- Modal -->
    <div id="ImportUsersModal" class="modal" role="dialog">

      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

        <!-- Modal content-->
        <div class="modal-content modal-content-finance">

          <div class="modal-body">

              <!-- modal-body-container -->

              <div class="modal-body-container">

                  <h1 class="sub-container-main-header">Import from file</h1>
                   <h4 class="sub-container-sub-header">
                    There are many variations of passages of Lorem Ipsum available, but the majority.
                  </h4>

                  <div class="sections-checkboxes-main-container">

                    <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left " data-val="Student" >
                        <div class="sections-label-checkbox-container " >
                          <div class="form-group group ">
                            <span class="expense_label">Student</span>
                          </div>
                        </div>
                        <div class="customCheck customCheckRounded">
                          <input type="checkbox" checked value="0" data-val="Student" name="checkbox" id="" />
                          <label for="ck"></label>
                        </div>
                    </div>

                    <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Teacher">
                        <div class="sections-label-checkbox-container ">
                          <div class="form-group group ">
                            <span class="expense_label">Teacher</span>
                          </div>
                        </div>
                        <div class="customCheck customCheckRounded">
                          <input type="checkbox" value="1" data-val="Teacher"  name="checkbox" id="" />
                          <label for="ck"></label>
                        </div>
                    </div>

                  </div>

                  <div class="sections-main-sub-container-right-main-rows">

                    <div class="import-users-Modal-file-container">

                      <p  class="import-users-Modal-label">Drag and drop your file here or click the button bellow:</p>

                      <div class="modal-btn-container">
                          <div class="modal-btn">
                            <span class="modal-btn-text">Import file</span>
                          </div>
                      </div>
                      
                    </div>
              
                  </div>


                  <!--- End Show in case of Absense combined with Session || Retard -->

                  <!--  sub-container-form-footer -->
                  <div class="sub-container-form-footer">
                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button ">
                            <span class="button-text" >Save</span>
                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                      </div>
                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal"  >
                            <span class="button-text" >Cancel</span>
                      </div>
                  </div>
                  <!--  End sub-container-form-footer -->

              </div>

          </div>

        </div>

      </div>

    </div>

<!--_____________ End General ImportUsersModal modal _____________-->


<!--_____________ Student Absence modal _____________-->

<!-- Trigger the modal with a button -->
 
    <!-- Modal -->
    <div id="AddTeacherAbsenceModal" class="modal" role="dialog">

     <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">Absence & Retard</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <div class="row sections-main-sub-container-right-main-rows">
                       <div class="col-md-6">
                        <div class="form-group group readonly">
                          <input type="text" required="" name="ad_classe">
                          <label class="input-label">
                            <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                     <div class="col-md-6">
                      <div class="form-group group readonly">
                        <input type="text" required="" name="ad_teacher">
                        <label class="input-label">
                          <span class="input-label-text">Teacher</span><span class="input-label-bg-mask"></span>
                        </label>
                      </div>
                    </div>
            
                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Absence or Retard </span> <span class="input-label-bg-mask"></span></label>

                    <div class="sections-checkboxes-main-container">

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                           dynamic-form-input-container-type" data-val="Absence" >
                          <div class="sections-label-checkbox-container " >
                            <div class="form-group group ">
                              <span class="expense_label">Absence</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" checked value="1" data-val="Absence" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Retard">
                          <div class="sections-label-checkbox-container ">
                            <div class="form-group group ">
                              <span class="expense_label">Retard</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="0" data-val="Retard" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                    </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-session">

                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"> Period or Session </span> <span class="input-label-bg-mask"></span></label>

                    <div class="sections-checkboxes-main-container">

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Period">
                          <div class="sections-label-checkbox-container ">
                            <div class="form-group group ">
                              <span class="expense_label">Period</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="2" data-val="Period" name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                      <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left "
                           data-val="Session">
                          <div class="sections-label-checkbox-container" >
                            <div class="form-group group ">
                              <span class="expense_label">Session</span>
                            </div>
                          </div>
                          <div class="customCheck customCheckRounded">
                            <input type="checkbox" value="1" data-val="Session" checked  name="checkbox" id="" />
                            <label for="ck"></label>
                          </div>
                      </div>

                    </div>

                </div>

                <!--- Show in case of Absense combined with Period -->
                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-multi-date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Period</span> <span class="input-label-bg-mask"></span></label>

                  <div class="flex flex-form-group-container">

                    <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="period_start" class="input-text input-date input-date-from-today" required="" placeholder="Start date">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                    </div>

                     <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="period_end" class="input-text input-date input-date-from-today" required="" placeholder="End Date">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                    </div>

                  </div>

                </div>
                <!--- End Show in case of Absense combined with Period -->

                <!--- Show in case of Absense combined with Session || Retard -->

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-one-date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date </span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border  input-date input-date-limited" required="" name="ad_date" placeholder="Select date">
                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                  </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                     dynamic-form-input-container-multi-time">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Select time </span> <span class="input-label-bg-mask"></span></label>

                  <div class="flex flex-form-group-container">

                    <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" class="input-text input-time input-time-from" required="" name="time_start" placeholder="Time">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                    </div>

                     <div class="form-group group dynamic-form-input-text-container-icon">
                       <input type="text" name="time_end"  class="input-text input-time input-time-to" required="" placeholder="Time">
                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                    </div>

                  </div>

                </div>

                <!--- End Show in case of Absense combined with Session || Retard -->

                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveAbsence()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal"  >
                          <span class="button-text" >Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

        </div>

      </div>

    </div>

    </div>

<!--_____________ End Student Absence modal _____________-->


<!--_____________ Finance modal _____________-->

<!-- Trigger the modal with a button -->
 
    <!-- Modal -->
    <div id="FinanceModal" class="modal" role="dialog">

      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

        <!-- Modal content-->
        <div class="modal-content modal-content-finance">

          <div class="modal-body">

              <!-- modal-body-container -->

              <div class="modal-body-container">

                 <h1 class="sub-container-main-header">Execute payment</h1>
                 <h4 class="sub-container-sub-header">
                  There are many variations of passages of Lorem Ipsum available, but the majority.
                 </h4>

                  <div class="row sections-main-sub-container-right-main-rows">


                       <div class="col-md-6">
                          <div class="form-group group readonly">
                            <input type="text" required="" name="payment-classe" >
                            <label class="input-label">
                              <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                            </label>
                          </div>
                        </div> 
                        <div class="col-md-6">
                          <div class="form-group group readonly">
                            <input type="text" required="" name="payment-student">
                            <label class="input-label">
                              <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                            </label>
                          </div>
                        </div>
              
                  </div>

                  <div class="sections-main-sub-container-right-main-label-divider monthly">
                      <p>Monthly expences</p>
                  </div>

                  <div class="sections-main-sub-container-right-main-label-divider yearly">
                      <p>Yearly expences</p>
                  </div>

                 

                  <!--  sub-container-form-footer -->
                  <div class="sub-container-form-footer">
                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onclick="savePayment()">
                            <span class="button-text" >Save changes</span>
                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                      </div>
                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                            <span class="button-text" >Cancel</span>
                      </div>
                  </div>
                  <!--  End sub-container-form-footer -->

              </div>

          </div>

        </div>

      </div>

    </div>

<!--_____________ End Finance modal _____________-->


<!--_____________ Homework modal _____________-->

<!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <div id="AddHomeworkModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">Homework</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <div class="row sections-main-sub-container-right-main-rows">


                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first homework_classe">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right">
                              <input type="text" class="input-dropdown select-classe" name="homework_classe" required="">
                              
                              <label class="input-label">
                                <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options">
                                  <% for(var i=0; i<classes.length; i++) {%>
                                     <li data-val="<%= classes[i].Classe_Label %>"><%= classes[i].Classe_Label %></li>
                                  <% } %>
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first homework_subject">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right">
                              <input type="text" class="input-dropdown" name="homework_subject" required="">
                              
                              <label class="input-label">
                                <span class="input-label-text">Subject</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options select-subject">
                                  
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
            
                </div>


                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style homework_name">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Homework name</span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon ">
                     <input type="text" class="input-text input-extra-border" name="homework_name" required="" 
                            placeholder="Type homework name">
                  </div>

                </div>

                <div class="row sections-main-sub-container-right-main-rows visibility ">

                  <div class="col-md-12">
                    <div class="form-group group">
                      <input type="text" required="" >
                      <label class="input-label">
                        <span class="input-label-text">Homework name</span><span class="input-label-bg-mask"></span>
                      </label>
                    </div>
                  </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style homework_deliverydate">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date</span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border input-date input-date-from-today" name="homework_deliverydate" required="" 
                            placeholder="Select date">
                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                  </div>

                </div>

                <div class="row sections-main-sub-container-right-main-rows">
                  <div class="col-xs-12">
                    <div class="form-group group">
                      <textarea class="input-text input-text-area" id="homework_description"></textarea>
                      <label class="input-label">
                        <span class="input-label-text">Homework description</span><span class="input-label-bg-mask"></span>
                      </label>
                    </div>
                  </div>
                </div>

                      <!--____________ add attachement _________________-->
                <div class="row sections-main-sub-container-right-main-rows">

                  <div class="col-md-12">

                    <div class="form-group group ">

                      <div class="file-container file-loaded">
                        <div class="file-icon-label">
                         <img  class="file-icon" src="assets/icons/file.svg" alt="file"/>
                          <span class="file-label">Filename_loaded_file_state.pdf</span>
                        </div>
                         <img  class="file-close" src="assets/icons/close-gray.svg" alt="close"/>
                      </div>

                      <div class="file-container file-container-visibility">

                        <div class="file-icon-label">
                         <img  class="file-icon" src="assets/icons/file.svg" alt="file"/>
                          <span class="file-label">Filename_uploading_file_state.pdf</span>
                        </div>
                        <img  class="file-close" src="assets/icons/close-gray.svg" alt="close"/>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" 
                             aria-valuemin="0" aria-valuemax="100">
                             </div>
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="col-md-12 file-add-btn-container">
                    <div class="file-container file-add-btn">
                        <div class="file-icon-label">
                         <img  class="file-icon" src="assets/icons/attach.svg" alt="attach"/>
                          <span class="file-label">add attachement</span>
                        </div>
                    </div>
                  </div>

                </div>
                <!--____________ End add attachement _________________-->


                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveHomework()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                          <span class="button-text">Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

        </div>

      </div>

    </div>

  </div>

<!--_____________ End Homework modal _____________-->

<!--_____________ Exam modal _____________-->

<!-- Trigger the modal with a button -->
 
  <!-- Modal -->
  <div id="AddExamModal" class="modal" role="dialog">

    <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

      <!-- Modal content-->
      <div class="modal-content modal-content-finance">

        <div class="modal-body">

            <!-- modal-body-container -->

            <div class="modal-body-container">

               <h1 class="sub-container-main-header">Exam</h1>
               <h4 class="sub-container-sub-header">
                There are many variations of passages of Lorem Ipsum available.
               </h4>

                <div class="row sections-main-sub-container-right-main-rows">


                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first exam_classe">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right">
                              <input type="text" class="input-dropdown select-classe" name="exam_classe" required="">
                              
                              <label class="input-label">
                                <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options">
                                  <% for(var i=0; i<classes.length; i++) {%>
                                     <li data-val="<%= classes[i].Classe_Label %>"><%= classes[i].Classe_Label %></li>
                                  <% } %>
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="dynamic-form-input-dropdown-container">
                        <div class="dynamic-form-input-dropdown dynamic-form-input-first exam_subject">
                          <div class="dynamic-form-input">
                            <div class="dynamic-form-input-float-adjust">
                            <div class="form-group group form-group-right">
                              <input type="text" class="input-dropdown" name="exam_subject" required="">
                              
                              <label class="input-label">
                                <span class="input-label-text">Subject</span><span class="input-label-bg-mask"></span>
                              </label>

                              <img class="icon button-icon caret-rotate" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options select-subject">
                                  
                              </ul>
                            </div>
                            </div>
                            <div class="square-button square-button-minus">
                              <img class="icon" src="assets/icons/minus.svg">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
            
                </div>


                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style  exam_name">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Exam name</span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border" name="exam_name" required="" 
                            placeholder="Type exam name">
                  </div>

                </div>

                <div class="row sections-main-sub-container-right-main-rows visibility ">

                  <div class="col-md-12">
                    <div class="form-group group">
                      <input type="text" required="" >
                      <label class="input-label">
                        <span class="input-label-text">Exam name</span><span class="input-label-bg-mask"></span>
                      </label>
                    </div>
                  </div>

                </div>

                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style exam_date">

                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date</span> <span class="input-label-bg-mask"></span></label>

                  <div class="form-group group dynamic-form-input-text-container-icon">
                     <input type="text" class="input-text input-extra-border input-date input-date-from-today" name="exam_date" required="" 
                            placeholder="Select date">
                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                  </div>

                </div>

                <div class="row sections-main-sub-container-right-main-rows">
                  <div class="col-xs-12">
                    <div class="form-group group">
                      <textarea class="input-text input-text-area" id="exam_description"></textarea>
                      <label class="input-label">
                        <span class="input-label-text">Exam description</span><span class="input-label-bg-mask"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <!--  sub-container-form-footer -->
                <div class="sub-container-form-footer">
                    <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveExam()">
                          <span class="button-text" >Save</span>
                          <img class="icon button-icon" src="assets/icons/check_small.svg">
                    </div>
                    <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal">
                          <span class="button-text"  >Cancel</span>
                    </div>
                </div>
                <!--  End sub-container-form-footer -->

            </div>

        </div>

      </div>

    </div>

  </div>

<!--_____________ End Exam modal _____________-->


<!--_____________ Teacher modal _____________-->

  <!-- Trigger the modal with a button -->
   
    <!-- Modal -->
    <div id="AddTeacherModal" class="modal" role="dialog">

      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn">

        <!-- Modal content-->
        <div class="modal-content modal-content-container">

          <div class="modal-body">

              <!-- modal-body-container -->

              <div class="modal-body-container" id="teacher_form">

                 <h1 class="sub-container-main-header">New Teacher</h1>
                 <h4 class="sub-container-sub-header">
                  There are many variations of passages of Lorem Ipsum available.
                 </h4>

                  <!--________________  Teacher Form __________________-->

                  <div class="sections-main-sub-container-right-main-header">

                      <div class="sections-main-sub-container-right-main-header-info">

                        <div class="form-group form-group-modal-extra-style">
                        <div class="input-img-container input-rounded-img-container">
                          <img class="input-img"  src="assets/icons/Logo_placeholder.svg" id="output-img-teacher" alt="profile">
                           <input type="file"  accept="image/*" name="profile_image" id="profile-teacher" style="display: none;">
                          <div class="rounded-button">
                            <img class="icon" src="assets/icons/plus.svg">
                            <label for="profile-teacher" style="cursor: pointer; display: block; height: 100%;width: 100%;">
                            </label></img>
                          </div>
                        </div>
                          <p class="label-full-name label-full-name-modal"></p>
                        </div>

                      </div>


                    </div>


                    <div class="sections-main-sub-container-right-main-label-divider">
                          <p>Teacher details</p>
                    </div>

                    <div class="row sections-main-sub-container-right-main-rows">

                      <div class="col-md-6">
                        <div class="form-group group">
                          <input type="text" required="" name="first_name">
                          <label class="input-label">
                            <span class="input-label-text">First name</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group group">
                          <input type="text" required="" name="last_name">
                          <label class="input-label">
                            <span class="input-label-text">Last name</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                    </div>

                    <div class="row sections-main-sub-container-right-main-rows">

                      <div class="col-md-6">
                        <div class="form-group group ">
                          <input type="text" required="" name="phone_number">
                          <label class="input-label">
                            <span class="input-label-text">Phone number</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group group ">
                          <input type="text" required="" name="email">
                          <label class="input-label">
                            <span class="input-label-text">Email</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>
                      
                    </div>

                    <div class="row sections-main-sub-container-right-main-rows">

                      <div class="col-md-6">
                        <div class="form-group group dynamic-form-input-text-container-icon">
                           <input type="text" class="input-text input-date input-date-limited" name="birthdate" required="" placeholder="">
                           <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                            <label class="input-label">
                              <span class="input-label-text">Birthdate</span><span class="input-label-bg-mask"></span>
                            </label>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group group ">
                          <input type="text" required="" name="teacher_address">
                          <label class="input-label">
                            <span class="input-label-text">Address</span><span class="input-label-bg-mask"></span>
                          </label>
                        </div>
                      </div>

                    </div>

                    <div class="sections-main-sub-container-right-main-label-divider">
                          <p>Science details</p>
                    </div>

                    <!-- Subject Class ------------------------------------------------------------------------------------->

                    <div class="sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-rows-dropdown-tags">

                        <div class="dynamic-form-input-dropdown-container sections-main-sub-container-right-main-rows-dropdown-tags-container">

                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">

                            <div class="dynamic-form-input">

                              <div class="dynamic-form-input-float-adjust">

                                  <div class="form-group group form-group-left">
                                    <input type="text" class="input-text input-dropdown" name="subject" required>
                                    <label class="input-label"><span class="input-label-text">Subjects</span> <span class="input-label-bg-mask"></span></label>

                                    <img class="icon button-icon" src="assets/icons/caret.svg">
                                    <ul class="dynamic-form-input-dropdown-options">
                                    <%if (locals.subjects) { %>
                                       <% for(var i=0; i<subjects.length; i++) {%>
                                         <li data-subjectid="<%= subjects[i].Subject_ID %>" data-levelid="<%= subjects[i].Level_ID %>" data-val="<%= subjects[i].Subject_Label %>"><%= subjects[i].Subject_Label %></li>
                                      <% } %>
                                    <% } %>
                                    </ul>
                                  </div>

                                  <div class="form-group group form-group-right">

                                    <select class="input-text-subject-classes-select2 list-classes" multiple >

                                    </select>

                                    <img class="icon button-icon" src="assets/icons/caret.svg">

                                    <label class="input-label">
                                      <span class="input-label-text">Classes</span><span class="input-label-bg-mask"></span>
                                    </label>

                                  </div>

                              </div>

                              <div class="square-button square-button-minus">
                                <img class="icon" src="assets/icons/minus.svg">
                              </div>
                              
                            </div>

                          </div>

                        </div>

                        <div class="square-button square-button-extra-style" id="Subject_Class_New_Dynamic_Form_Input">
                          <img class="icon" src="assets/icons/plus.svg">
                        </div>

                    </div>

                    <!-- End Subject Class --------------------------------------------------------------------------------->

                  <!--________________  End Teacher Form ______________-->

                  <!--  sub-container-form-footer -->
                  <div class="sub-container-form-footer">
                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button ">
                            <span class="button-text" onclick="saveteacher()">Save</span>
                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                      </div>
                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal">
                            <span class="button-text"  >Cancel</span>
                      </div>
                  </div>
                  <!--  End sub-container-form-footer -->

              </div>

            </div>

        </div>

      </div>

    </div>
<script src="/javascripts/modals.js" type="text/javascript" charset="utf-8" async defer></script>
<!--_____________ End Teacher modal _____________-->

