<!-- nav -->

<!-- sub-container-nav-bar-profile-dropdown-mask -->
    <div class="sub-container-nav-bar-profile-dropdown-mask">
        <div class="sub-container-nav-bar-profile-dropdown">
                    <!--  sections-main-sub-container-left-cards  -->
                    <div class="sections-main-sub-container-left-card">
                          <img class="sections-main-sub-container-left-card-main-img" src="<%= user.User_Image %>">
                          <div class="sections-main-sub-container-left-card-info">
                              <p class="sections-main-sub-container-left-card-main-info"><%= user.User_Email.slice(0,10) + "..." %></p>
                              <span  class="sections-main-sub-container-left-card-sub-info">Admin</span>
                          </div>
                    </div>
                    <!--  End sections-main-sub-container-left-cards  -->

                    <!--  sub-container-nav-bar-profile-dropdown-ul  -->
                    <ul class="sub-container-nav-bar-profile-dropdown-ul">
                      <li class="sub-container-nav-bar-profile-dropdown-ul-li">
                        <a href="">Switch Accounts</a>
                        <img src="assets/icons/caret.svg" class="caret-img" alt="caret"/>

                          <!--  sub-container-nav-bar-profile-dropdown-ul  -->
                          <div class="sub-container-nav-bar-profile-dropdown-ul sub-container-nav-bar-profile-dropdown-sub-ul">
                             <% for(var i=0; i<users.length; i++) {%>
                                  <% var name = users[i].User_Email.slice(0,10)  + "..." %>
                                  <%if (users[i].User_Role === 'Teacher') { 
                                      name = JSON.parse(users[i].User_Name);
                                      name = name.first_name + " " + name.last_name;
                                  } %>
                                  <a href="#" data-id="<%=users[i].User_ID %>">
                                        <!--  sections-main-sub-container-left-cards  -->
                                        <div class="sections-main-sub-container-left-card">
                                              <img class="sections-main-sub-container-left-card-main-img" src="<%= users[i].User_Image %>" alt="card-img">
                                              <div class="sections-main-sub-container-left-card-info">
                                                  <p class="sections-main-sub-container-left-card-main-info"><%= name %></p>
                                                  <span  class="sections-main-sub-container-left-card-sub-info"><%= users[i].User_Role %></span>
                                              </div>
                                        </div>
                                        <!--  End sections-main-sub-container-left-cards  -->
                                  </a>
                              <% } %>
                          </div>
                          <!--  End sub-container-nav-bar-profile-dropdown-ul -->
                      </li>
                      <li><a href="">Acount Settings</a></li>
                      <li><a href="" id="logout_btn">Logout</a></li>
                    </ul>
                    <!--  End sub-container-nav-bar-profile-dropdown-ul -->

                    <img class="sub-container-nav-bar-profile-dropdown-close" alt="close" src="assets/icons/close.svg">

        </div>
    </div>
    <!-- End sub-container-nav-bar-profile-dropdown-mask -->

<!-- nav -->
<script>
$(document).on("click","#logout_btn",function(event){

    $.ajax({type: 'get',url: '/logout'});

});


</script>