<!-- nav -->

<!-- sub-container-nav-bar-profile-dropdown-mask -->
    <div class="sub-container-nav-bar-profile-dropdown-mask">
        <div class="sub-container-nav-bar-profile-dropdown">
                    <!--  sections-main-sub-container-left-cards  -->
                    <div class="sections-main-sub-container-left-card">
                          <img class="sections-main-sub-container-left-card-main-img" src="<%= user.User_Image %>">
                          <div class="sections-main-sub-container-left-card-info">
                              <p class="sections-main-sub-container-left-card-main-info"><%= user.User_Email.slice(0,10) + "..." %></p>
                              <span  class="sections-main-sub-container-left-card-sub-info"><%= role %></span>
                          </div>
                    </div>
                    <!--  End sections-main-sub-container-left-cards  -->

                    <!--  sub-container-nav-bar-profile-dropdown-ul  -->
                    <ul class="sub-container-nav-bar-profile-dropdown-ul">
                      <li class="sub-container-nav-bar-profile-dropdown-ul-li">
                        <a href="">Switch Accounts</a>
                        <img src="assets/icons/caret.svg" class="caret-img" alt="caret"/>

                          <!--  sub-container-nav-bar-profile-dropdown-ul  -->
                          <div class="sub-container-nav-bar-profile-dropdown-ul sub-container-nav-bar-profile-dropdown-sub-ul">
                             <% for(var i=0; i<users.length; i++) {%>
                                  <% var name = users[i].User_Email.slice(0,10)  + "..." %>
                                  <%if (users[i].User_Role === 'Teacher') { 
                                      name = JSON.parse(users[i].User_Name);
                                      name = name.first_name + " " + name.last_name;
                                  } %>
                                  <a href="#" data-id="<%=users[i].User_ID %>" data-role="<%=users[i].role %>" class="role">
                                        <!--  sections-main-sub-container-left-cards  -->
                                        <div class="sections-main-sub-container-left-card">
                                              <img class="sections-main-sub-container-left-card-main-img" src="<%= users[i].User_Image %>" alt="card-img">
                                              <div class="sections-main-sub-container-left-card-info">
                                                  <p class="sections-main-sub-container-left-card-main-info"><%= name %></p>
                                                  <span  class="sections-main-sub-container-left-card-sub-info"><%= users[i].role %></span>
                                              </div>
                                        </div>
                                        <!--  End sections-main-sub-container-left-cards  -->
                                  </a>
                              <% } %>
                          </div>
                          <!--  End sub-container-nav-bar-profile-dropdown-ul -->
                      </li>
                      <li><a href="#" id="settings_btn">Acount Settings</a></li>
                      <li><a href="" id="logout_btn">Logout</a></li>
                    </ul>
                    <!--  End sub-container-nav-bar-profile-dropdown-ul -->

                    <img class="sub-container-nav-bar-profile-dropdown-close" alt="close" src="assets/icons/close.svg">

        </div>
    </div>
    <!-- End sub-container-nav-bar-profile-dropdown-mask -->

<!-- nav -->
<script>
$(document).on("click","#logout_btn",function(event){

    $.ajax({type: 'get',url: '/logout'});

});

function readFile() {
  
  if (this.files && this.files[0]) {
    
    var FR= new FileReader();
    
    FR.addEventListener("load", function(e) {
      document.getElementById("output-settings").src = e.target.result;
    }); 
    
    FR.readAsDataURL( this.files[0] );
  }
  
}

$(document).on("click","#settings_btn",function(event){
    document.getElementById("profile_settings").addEventListener("change", readFile);
    $('#ProfileSettings').modal('show');
     $.ajax({
      type: 'get',
      url: '/Select/me',
    })
    .done(function(res){
      console.log("USer::",res.user);
      $('#ProfileSettings').find('#output-settings').attr('src',res.user.User_Image);
      var name = JSON.parse(res.user.User_Name);
      $('#ProfileSettings').find('input[name=fname-settings]').val(name.first_name);
      $('#ProfileSettings').find('input[name=lname-settings]').val(name.last_name);
      $('#ProfileSettings').find('input[name=date-settings]').val(res.user.User_Birthdate);
      $('#ProfileSettings').find('input[name=address-settings]').val(res.user.User_Address);
      $('#ProfileSettings').find('input[name=phone-settings]').val(res.user.User_Phone);
      $('#ProfileSettings').find('input[name=email-settings]').val(res.user.User_Email);
    });

});

function updateProfile() 
{
   $.ajax({
      type: 'post',
      url: '/Select/me/update',
      data:{
        user_image:$('#ProfileSettings').find('#output-settings').attr('src'),
        user_fname:$('#ProfileSettings').find('input[name=fname-settings]').val(),
        user_lname:$('#ProfileSettings').find('input[name=lname-settings]').val(),
        user_date:$('#ProfileSettings').find('input[name=date-settings]').val(),
        user_address:$('#ProfileSettings').find('input[name=address-settings]').val(),
        user_phone:$('#ProfileSettings').find('input[name=phone-settings]').val(),
        user_email:$('#ProfileSettings').find('input[name=email-settings]').val(),
      },
      dataType: 'json'
    })
    .done(function(res){
      if(res.update)
      {
        $('#ProfileSettings').modal('hide');
      } else {
       console.log(res.errors)
      }
    });
}

$(document).on("click",".role",function(event){
     $.ajax({
      type: 'post',
      url: '/Select/roles',
      data:{
      role:$(this).data('role')
      },
      dataType: 'json'
    })
    .done(function(res){
      if(res.switched)
      {
        window.location.href = "/";
      } else {
       console.log(res.errors)
      }
    });
});

</script>