<div class="side-bar side-bar-extra-style">

	<div class="side-bar-conatiner-menu">
	  <div class="side-bar-header-conatiner">
	 
	  	<div class="main-selected-school">
	    <img class="side-bar-brand" src="<%= institution.Institution_Logo %>" alt="brand"/>
	    <span class="side-bar-brand-label"><%= institution.Institution_Name %></span>
			<%if (accounts.length > 1) { %>
				<img class="icon button-icon" src="assets/icons/caret_brand.svg">
			<% } %>
	
		</div>
		<%if (role === 'Admin' && accounts.length > 1) { %>
	    <div class="school-dropdown-list slide-up">
	     <% for(var i=0; i <= accounts.length - 1; i++) {%>
	     	<% console.log('Accounts',accounts[i].Institution_Name) %>
	     	<div class="main-selected-school-li account"  data-id="<%=accounts[i].Institution_ID %>">
		    	<img class="side-bar-brand" src="<%=accounts[i].Institution_Logo %>" alt="brand"/>
		    	<span class="side-bar-brand-label"><%= accounts[i].Institution_Name %></span>
			</div>
          <% } %>
	    </div>
	    <%} %>
	  </div>

	<%- include('./side_bar_ul.ejs');%>
	</div>
	<%if (role === 'Admin') { %>
		<div class="rounded-button default-button rounded-button-primary" data-toggle="modal" data-target="#NewActionModal" >
					<span class="button-text">New action</span>
					<img class="icon button-icon" src="/assets/icons/plus.svg">
		</div>
	<% } %>

</div>
 <script>
 	var pathname = window.location.pathname.replace('/','');
 	$('#url-'+pathname).addClass('active');
 	var img = $('#url-'+pathname).find('img').attr('src').replace("inactive","active");
 	$('#url-'+pathname).find('span').removeClass('side-bar-li-span-inactive');
 	$('#url-'+pathname).find('span').addClass('side-bar-li-span-active');
 	$('#url-'+pathname).find('img').attr('src',img);
$(document).on("click",".account",function(event){
     $.ajax({
      type: 'post',
      url: '/Select/switch',
      data:{
      id:$(this).data('id')
      },
      dataType: 'json'
    })
    .done(function(res){
      if(res.switched)
      {
        window.location.reload();
      } else {
       console.log(res.errors)
      }
    });
});

function switchStudent(index) {
	$.ajax({
		type: 'post',
		url: '/Select/student',
		data: {
			currentStudentId:index
		},
		dataType: 'json'
	}).done(res => {
		if (res.errors) {
			console.log(res.errors);
		} else {
			window.location.reload();
		}
	})
}

 </script>