<div class="side-bar side-bar-extra-style">

	<div class="side-bar-conatiner-menu">
	  <div class="side-bar-header-conatiner"> 
	  	<div class="main-selected-school">
	    <img class="side-bar-brand" src="<%= institution.Institution_Logo %>" alt="brand"/>
	    <span class="side-bar-brand-label"><%= institution.Institution_Name %></span>
	     <img class="icon button-icon" src="assets/icons/caret_brand.svg">
		</div>

	    <div class="school-dropdown-list slide-up">
	    <%if (role === 'Admin') { %>
	     <% for(var i=0; i <= accounts.length - 1; i++) {%>
	     	<% console.log('Accounts',accounts[i].Institution_Name) %>
	     	<div class="main-selected-school-li account"  data-id="<%=accounts[i].Institution_ID %>">
		    	<img class="side-bar-brand" src="<%=accounts[i].Institution_Logo %>" alt="brand"/>
		    	<span class="side-bar-brand-label"><%= accounts[i].Institution_Name %></span>
			</div>
          <% } %>
          <%} %>
	    </div>
	  </div>

	  <ul class="side-bar-ul">
	  	<%if (role === 'Admin') { %>
	      <li class="side-bar-li" id="url-Dashboard" data-asset-active="dashboard_active.svg" data-asset-inactive="dashboard_inactive.svg">
	      	<a href="/Dashboard">
		        <img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/dashboard_inactive.svg" alt="check"/>
		        <span class="side-bar-li-span side-bar-li-span-inactive">Dashboard</span>
	    	</a>
	      </li>
	    <%} %>
	      <li id="url-Students" class="side-bar-li" data-asset-active="students_active.svg" data-asset-inactive="students_inactive.svg">
	      	<a href="/Students" >
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/students_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Students</span>
	    	</a>
	      </li>
	       <%if (role === 'Admin') { %>
             <li id="url-Teachers" class="side-bar-li" data-asset-active="teachers_active.svg" data-asset-inactive="teachers_inactive.svg">
	      	<a href="/Teachers" >
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/teachers_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Teachers</span>
	    	</a>
	      </li>
           <% } %>

	      <li id="url-Exams" class="side-bar-li" data-asset-active="exams_active.svg" data-asset-inactive="exams_inactive.svg">
	      	<a href="/Exams" >
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/exams_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Exams</span>
	    	</a>
	      </li>

	      <li id="url-Homeworks" class="side-bar-li" data-asset-active="homeworks_active.svg" data-asset-inactive="homeworks_inactive.svg">
	      	<a href="/Homeworks" >
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/homeworks_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Homework</span>
	    	</a>
	      </li>

	      <%if (role === 'Admin') { %>
        	<li id="url-Finances" class="side-bar-li" data-asset-active="finances_active.svg" data-asset-inactive="finances_inactive.svg">
	      	<a href="/Finances">
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/finances_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Finances</span>
	    	</a>
	      </li>

	      <li id="url-Settings" class="side-bar-li" data-asset-active="settings_active.svg" data-asset-inactive="settings_inactive.svg">
	      	<a href="Settings">
	        	<img class="side-bar-li-img" src="assets/icons/sidebar_icons/side_bar_menu/settings_inactive.svg" alt="check"/>
	        	<span class="side-bar-li-span side-bar-li-span-inactive">Settings</span>
	    	</a>
	      </li>
          <% } %>

	  </ul>

	</div>

	<div class="rounded-button default-button rounded-button-primary" data-toggle="modal" data-target="#NewActionModal" >
	      <span class="button-text">New action</span>
	      <img class="icon button-icon" src="assets/icons/plus.svg">
	</div>

</div>
 <script>
 	var pathname = window.location.pathname.replace('/','');
 	$('#url-'+pathname).addClass('active');
 	var img = $('#url-'+pathname).find('img').attr('src').replace("inactive","active");
 	$('#url-'+pathname).find('span').removeClass('side-bar-li-span-inactive');
 	$('#url-'+pathname).find('span').addClass('side-bar-li-span-active');
 	$('#url-'+pathname).find('img').attr('src',img);
$(document).on("click",".account",function(event){
     $.ajax({
      type: 'post',
      url: '/Select/switch',
      data:{
      id:$(this).data('id')
      },
      dataType: 'json'
    })
    .done(function(res){
      if(res.switched)
      {
        window.location.reload();
      } else {
       console.log(res.errors)
      }
    });

});
 </script>