<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <%- include('./partials/main'); %>

 <script type="text/javascript" src="https://cdn2.hubspot.net/hubfs/476360/Chart.js"></script>
 <script type="text/javascript" src="https://cdn2.hubspot.net/hubfs/476360/utils.js"></script>

</head>

<!-- sections-main-container -->
<body class="sections-main-container">
  
    <!-- main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <%- include('./partials/side_bar',{institution: institution,accounts:accounts}); %>
      <!-- end setup-main-container -->

      <!-- sub-container -->
      <div class="sub-container">

        <div class="sub-container-nav-bar">
            <span class="sub-container-nav-bar-title">Dashboard</span>
            <img  class="sub-container-nav-bar-img" src="<%= user.User_Image %>" alt="profile">
        </div>

        <!-- nav -->
          <%- include('./partials/nav_bar', {user: user,users:users,role:role}); %>
        <!-- End nav -->

        <!--  sections-main-sub-container 100%  -->
        <div class="sections-main-sub-container dashboard-main-sub-container">

                <!--  sections-main-sub-container-left 70%  -->
                <div class="dashboard-main-sub-left-container">

                    <!-- dashboard-card-info-container -->
                    <div class="dashboard-card-info-container">

                      <!-- dashboard-card-info -->
                      <div class="dashboard-card-info">
                          <span class="dashboard-card-info-label">Students <%= studentsTotal %></span>
                          <span class="dashboard-card-info-sub-label">Number of absent students </span>
                          <span class="dashboard-card-info-counter">
                            <span class="counter-span-container"> 
                              <span class="red-color"><%= studentAdAbsences %> Absence </span>
                              <span class="spacer"></span>
                              <span class="blue-color"><%= studentAdRetards %> Retard </span> 
                            </span>
                          </span>
                          <div class="progress dashboard-card-info-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentageS %>" 
                                 aria-valuemin="0" aria-valuemax="100" style="<%= 'width:'+ percentageS + '%' %>"></div>
                          </div>
                      </div>
                      <!-- End dashboard-card-info -->

                      <!-- dashboard-card-info -->
                      <div class="dashboard-card-info">
                          <span class="dashboard-card-info-label">Teachers <%= teachersTotal %>  </span>
                          <span class="dashboard-card-info-sub-label">Number of absent teachers</span>
                          <span class="dashboard-card-info-counter">
                            <span class="counter-span-container"> 
                              <span class="red-color"><%= teacherAdAbsences %> Absence </span> 
                              <span class="spacer"></span>
                              <span class="blue-color"><%= teacherAdRetards %> Retard </span>
                            </span> 
                          </span>
                          <div class="progress dashboard-card-info-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentageT %>" 
                                 aria-valuemin="0" aria-valuemax="100" style="<%= 'width:'+ percentageT + '%' %>"></div>
                          </div>
                      </div>
                      <!-- End dashboard-card-info -->   

                      <!-- dashboard-card-info -->
                      <div class="dashboard-card-info">
                          <span class="dashboard-card-info-label">Finances</span>
                          <span class="dashboard-card-info-sub-label"> February ( Expected revenu 10000 <span class="dashboard-card-info-counter-currency"> MAD )</span></span>
                          <span class="dashboard-card-info-counter"> <span class="counter-span-container"> <%= totalPay ? totalPay : 0 %><span class="dashboard-card-info-counter-currency"> MAD <span class="blue-color">25%</span> </span>  </span>  </span>
                          <div class="progress dashboard-card-info-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentagePay %>" 
                                 aria-valuemin="0" aria-valuemax="100" style="<%= 'width:'+ percentagePay + '%' %>"></div>
                          </div>
                      </div>
                      <!-- End dashboard-card-info -->

                    </div>
                    <!-- End dashboard-card-info-container -->

                    <!-- dashboard-card-table-info-container  Absence & Retard -->
                    <div class="dashboard-card-table-info-container">

                      <!-- dashboard-card-table-info -->
                      <div class="dashboard-card-table-info">

                           <!-- dashboard-card-table-info-header -->
                          <div class="dashboard-card-table-info-header">

                            <span class="dashboard-card-table-info-header-label">Absence & Retard</span>

                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-tabs sections-main-sub-container-right-main-tabs-filter dashboard-card-table-info-header-filter-container">

                                <div class="dashboard-card-table-info-header-filter">

                                      <div class="filter-sections-checkboxes-container">
                                        
                                          <div class="sections-label-checkbox-main-container">
                                            <div class="sections-label-checkbox-container">
                                              <div class="form-group group ">
                                                <span class="expense_label">Student</span>
                                              </div>
                                            </div>
                                            <div class="customCheck">
                                              <input type="checkbox" class="filter-absence" value="" data-name="Student" name="checkbox" checked id="ck" />
                                              <label for="ck"></label>
                                            </div>
                                          </div>

                                          
                                          <div class="sections-label-checkbox-main-container">
                                            <div class="sections-label-checkbox-container">
                                              <div class="form-group group ">
                                                <span class="expense_label">Teacher</span>
                                              </div>
                                            </div>
                                            <div class="customCheck">
                                              <input type="checkbox" class="filter-absence" value="" data-name="Teacher" name="checkbox" checked id="ck" />
                                              <label for="ck"></label>
                                            </div>
                                          </div>

                                      </div>

                                      <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right ">
                                                <input type="text" value="Today" name="filter-absence" class="input-dropdown filter-absence" placeholder="Period"  required>
                                                <img class="icon button-icon" src="assets/icons/date_icon.svg">
                                                <ul class="dynamic-form-input-dropdown-options">
                                                    <li data-val="This year">This Year </li>
                                                    <li data-val="This Month">This Month </li>
                                                    <li data-val="Today">Today </li>
                                                </ul>
                                              </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div>

                                </div>

                            </div>
                            <!-- sections-main-sub-container-right-main-header -->

                          </div>
                          <!-- End dashboard-card-table-info-header -->

                          <!-- dashboard-card-table-info-body -->

                          <div class="dashboard-card-table-info-body sections-main-sub-container-right-main-body">

                                  <!-- sections-main-sub-container-right-main-body : Absence -->

                                  <div class="sections-main-sub-container-right-main-rows">

                                      <table>
                                        <thead>
                                          <tr>
                                            <th scope="col">Persons</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Reported by</th>
                                          </tr>
                                        </thead>
                                        <tbody id="absence-list">

                                        </tbody>

                                      </table>

                                  </div>
                              <!-- End sections-main-sub-container-right-main-body : Exams -->

                          </div>
                          <!-- End dashboard-card-table-info-body -->

                      </div>
                      <!-- End dashboard-card-table-info -->
                      
                    </div>
                    <!-- End dashboard-card-table-info-container -->


                    <!-- dashboard-card-table-info-container Finance -->
                    <div class="dashboard-card-table-info-container">

                      <!-- dashboard-card-table-info -->
                      <div class="dashboard-card-table-info">

                           <!-- dashboard-card-table-info-header -->
                          <div class="dashboard-card-table-info-header">

                            <span class="dashboard-card-table-info-header-label">Finance</span>

                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-tabs sections-main-sub-container-right-main-tabs-filter dashboard-card-table-info-header-filter-container">

                                <div class="dashboard-card-table-info-header-filter">

                                      <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right ">
                                                <input type="text" value="This Month" class="input-dropdown" placeholder="Period"  required>
                                                <img class="icon button-icon" src="assets/icons/date_icon.svg">
                                                <ul class="dynamic-form-input-dropdown-options">
                                                    <li data-val="This year">This Year </li>
                                                    <li data-val="This Month">This Month </li>
                                                </ul>
                                              </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div>

                                </div>

                            </div>
                            <!-- sections-main-sub-container-right-main-header -->

                          </div>
                          <!-- End dashboard-card-table-info-header -->

                          <!-- dashboard-card-table-info-body -->

                          <div class="dashboard-card-table-info-body sections-main-sub-container-right-main-body">

                              <!-- sections-main-sub-container-right-main-rows -->
                                  <div class="sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-rows-finance">

                                    <div style="width:100%;">
                                      <canvas id="canvas" style="display: block; width: 100%; height: 235px;" width="100%" height="235px" class="chartjs-render-monitor"></canvas>
                                    </div>

                                  </div>
                              <!-- End sections-main-sub-container-right-main-rows -->

                          </div>
                          <!-- End dashboard-card-table-info-body -->

                      </div>
                      <!-- End dashboard-card-table-info -->
                      
                    </div>
                    <!-- End dashboard-card-table-info-container -->

                    <!-- dashboard-card-table-info-container Payement-->
                    <div class="dashboard-card-table-info-container">

                      <!-- dashboard-card-table-info -->
                      <div class="dashboard-card-table-info">

                           <!-- dashboard-card-table-info-header -->
                          <div class="dashboard-card-table-info-header">

                            <span class="dashboard-card-table-info-header-label">Payements</span>

                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-tabs sections-main-sub-container-right-main-tabs-filter dashboard-card-table-info-header-filter-container">

                                <div class="dashboard-card-table-info-header-filter">

                                      <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right ">
                                                <input type="text" value="Today" name="filter-payments" class="input-dropdown" placeholder="Period"  required>
                                                <img class="icon button-icon" src="assets/icons/date_icon.svg">
                                                <ul class="dynamic-form-input-dropdown-options">
                                                    <li data-val="This year">This year </li>
                                                    <li data-val="This Month">This Month </li>
                                                    <li data-val="Today">Today </li>
                                                </ul>
                                              </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div>

                                </div>

                            </div>
                            <!-- sections-main-sub-container-right-main-header -->

                          </div>
                          <!-- End dashboard-card-table-info-header -->

                          <!-- dashboard-card-table-info-body -->

                          <div class="dashboard-card-table-info-body sections-main-sub-container-right-main-body">

                                  <!-- sections-main-sub-container-right-main-body : Absence -->

                                  <div class="sections-main-sub-container-right-main-rows">

                                      <table>
                                        <thead>
                                          <tr>
                                            <th scope="col">Student</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Paid amount</th>
                                            <th scope="col">Outstanding</th>
                                          </tr>
                                        </thead>
                                        <tbody id="list-payments">
                                        </tbody>

                                      </table>

                                  </div>
                              <!-- End sections-main-sub-container-right-main-body : Exams -->

                          </div>
                          <!-- End dashboard-card-table-info-body -->

                      </div>
                      <!-- End dashboard-card-table-info -->
                      
                    </div>
                    <!-- End dashboard-card-table-info-container -->

                </div>

        </div>
        <!--  End sections-main-sub-container -->

    </div>
    <!-- sub-container -->


    <!--_____________ ChangesModal modal _____________-->

    <!-- Trigger the modal with a button -->
     
      <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ChangesModal" class="modal" role="dialog" >

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Review changes</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                       <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button ">
                                    <span class="button-text" >Save changes</span>
                                    <img class="icon button-icon" src="assets/icons/check_small.svg">
                        </div>

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button ">
                              <span class="button-text" >Discard</span>
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ChangesModal modal _____________-->

    <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ConfirmDeleteModal" class="modal" role="dialog" >

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Are you sure ?</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button ">
                              <span class="button-text" >Confirm</span>
                        </div>

                        <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary">
                                    <span class="button-text" data-dismiss="modal" >Cancel</span>
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ConfirmDelete modal _____________-->

    <!--________________ Modals _____________-->

           <%- include('./partials/modals',{role:role}); %>

    <!--________________ End Modals _____________-->
<script src="/javascripts/dashboard.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
<!-- end sections-main-container -->


</html>
