<!DOCTYPE html>
<html>
<head>

	  <title data-lang="<%= title %>"><%= title %></title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


 <%- include('./partials/main'); %>

</head>

<!-- sections-main-container -->
<body class="sections-main-container">
  
    <!-- main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <%- include('./partials/side_bar',{institution: institution,accounts:accounts,role:role}); %>
      <!-- end setup-main-container -->

      <!-- sub-container -->
      <div class="sub-container">

        <div class="sub-container-nav-bar">
            <span class="sub-container-nav-bar-title" data-lang="Finance">Finance</span>
            <img  class="sub-container-nav-bar-img" src="<%= user.User_Image %>" alt="profile">
        </div>

        <!-- nav -->
          <%- include('./partials/nav_bar', {user: user,users:users,role:role}); %>
        <!-- End nav -->

        <!--  sections-main-sub-container 100%  -->
        <div class="sections-main-sub-container">

                <!--  sections-main-sub-container-right 100%  -->
                <div class="sections-main-sub-container-right  sections-main-sub-container-right-extra-style finance-page-extra-style">

                    <!-- sections-main-sub-container-right-main -->
                    <div class="sections-main-sub-container-right-main">

                        <div class="sub-container-form">

                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-tabs sections-main-sub-container-right-main-tabs-filter">
                               
                                  <div class=" sections-main-sub-container-right-main-rows">

                                    <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right">
                                                <input type="text" class="input-dropdown finance-filter" value=""  name="classe" placeholder="Classes" required data-lang="Classes">

                                                <img class="icon button-icon" src="assets/icons/caret.svg">
                                                <ul class="dynamic-form-input-dropdown-options">
                                                    <li data-val="All" data-lang="All">All</li>
                                                    <% for(var i=0; i<classes.length; i++) {%>
                                                       <li data-val="<%= classes[i].Classe_Label %>"><%= classes[i].Classe_Label %></li>
                                                    <% } %>
                                                </ul>
                                              </div>
                                              </div>
                                              <div class="square-button square-button-minus">
                                                <img class="icon" src="assets/icons/minus.svg">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                    </div>

                                    <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right ">
                                                <input type="text" class="input-dropdown finance-filter" value="" name="expense" placeholder="Expenses"  required data-lang="Expenses">
                                                <img class="icon button-icon" src="assets/icons/caret.svg">
                                                <ul class="dynamic-form-input-dropdown-options" id="expenses-filter">
                                                  <li data-val="All" data-lang="All">All</li>
                                                    <%if (locals.expenses) { %>
                                                       <% for(var i=0; i<expenses.length; i++) {%>
                                                         <li data-expenseid="<%= expenses[i].Expense_ID %>" data-val="<%= expenses[i].Expense_Label %>"><%= expenses[i].Expense_Label %></li>
                                                      <% } %>
                                                    <% } %>
                                                </ul>
                                              </div>
                                              </div>
                                              <div class="square-button square-button-minus">
                                                <img class="icon" src="assets/icons/minus.svg">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                    </div>

                                     <div class="filter-sections-dropdowns-container">

                                        <div class="dynamic-form-input-dropdown-container">
                                          <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                            <div class="dynamic-form-input">
                                              <div class="dynamic-form-input-float-adjust">
                                              <div class="form-group group form-group-right">
                                                <input type="text" class="input-dropdown finance-filter" value="" placeholder="Status" name="filter-payment" required  data-lang="Payment_status">

                                                <img class="icon button-icon" src="assets/icons/caret.svg">
                                                <ul class="dynamic-form-input-dropdown-options">
                                                    <li data-val="All" data-lang="All">All</li>
                                                    <li data-val="Unpaid" data-lang="Unpaid">Unpaid</li>
                                                    <li data-val="Paid" data-lang="Paid">Paid</li>
                                                </ul>
                                              </div>
                                              </div>
                                              <div class="square-button square-button-minus">
                                                <img class="icon" src="assets/icons/minus.svg">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                    </div>
                                    <!--<div class="filter-sections-checkboxes-container">
                                        
                                        <div class="sections-label-checkbox-main-container">
                                          <div class="sections-label-checkbox-container">
                                            <div class="form-group group ">
                                              <span class="expense_label">Unpaid</span>
                                            </div>
                                          </div>
                                          <div class="customCheck">
                                            <input type="checkbox" value="" name="checkbox" id="unpaid" checked=""/>
                                            <label for="unpaid"></label>
                                          </div>
                                        </div>

                                        
                                        <div class="sections-label-checkbox-main-container">
                                          <div class="sections-label-checkbox-container">
                                            <div class="form-group group ">
                                              <span class="expense_label">Paid</span>
                                            </div>
                                          </div>
                                          <div class="customCheck">
                                            <input type="checkbox" value="" name="checkbox" id="paid" checked="" />
                                            <label for="paid"></label>
                                          </div>
                                        </div>


                                        <div class="sections-label-checkbox-main-container">
                                          <div class="sections-label-checkbox-container">
                                            <div class="form-group group ">
                                              <span class="expense_label">Monthly</span>
                                            </div>
                                          </div>
                                          <div class="customCheck">
                                            <input type="checkbox" value="" name="checkbox" id="monthly" checked=""/>
                                            <label for="monthly"></label>
                                          </div>
                                        </div>


                                        <div class="sections-label-checkbox-main-container">
                                          <div class="sections-label-checkbox-container">
                                            <div class="form-group group ">
                                              <span class="expense_label">Yearly</span>
                                            </div>
                                          </div>
                                          <div class="customCheck">
                                            <input type="checkbox" value="" name="checkbox" id="yearly" checked="" />
                                            <label for="yearly"></label> 
                                          </div>
                                        </div>

                                    </div>-->

                                    <div class="filter-sections-search-container">

                                          <div class="dynamic-form-input-dropdown-container">
                                            <div class="dynamic-form-input-dropdown "> <!-- dynamic-form-input-first for full width inputs -->
                                              <div class="dynamic-form-input">

                                                <div class="dynamic-form-input-float-adjust">

                                                  <div class="form-group group form-group-right">
                                                     <input type="text" id="search-input" class="input-text" required="" placeholder="Search" data-lang="Search">
                                                     <img class="icon button-icon caret-disable-rotate" src="assets/icons/sidebar_icons/search.svg">
                                                  </div>

                                                </div>

                                              </div>
                                            </div>
                                          </div>
                                        

                                    </div>
                                    
                                  </div>

                            </div>
                            <!-- End sections-main-sub-container-right-main-header -->

                            <!-- tab-content -->
                            <div class="tab-content">

                              <!-- sections-main-sub-container-right-main-body : Finance -->
                              <div id="Finance" class="tab-pane fade in active sections-main-sub-container-right-main-body">

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">

                                      <table>

                                        <thead>
                                          <tr class="list-months">
                                            <th class="col-extra-style col-sticky-extra-style" scope="col" data-lang="Students">Students</th>
                                          </tr>
                                        </thead>

                                        <tbody class="list-students">

                                        
                                          <!-- End Student Financial tr -->
                                          
                                        </tbody>

                                      </table>
                                    </div>

                                  </div>

                                

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Finance -->

                            </div>
                            <!-- End tab-content -->

                        </div>
                       
                    </div>
                    <!-- End sections-main-sub-container-right-main -->

                </div>

                <input type="hidden" id="academicyear" value="" />

        </div>
        <!--  End sections-main-sub-container -->

    </div>
    <!-- sub-container -->

    <!-- custmized-tooltip -->

    <div class="custmized-tooltip">

        <p class="custmized-tooltip-container">
          <span class="custmized-tooltip-label" data-lang="Expence_:">Expence <span class="custmized-tooltip-dots">:</span></span>
          <span class="custmized-tooltip-label-value">Insurance fees</span>
        </p>
        <p class="custmized-tooltip-container">
          <span class="custmized-tooltip-label" data-lang="Amount_:">Amount<span class="custmized-tooltip-dots">:</span></span>
          <span class="custmized-tooltip-value"> 
            <span class="custmized-tooltip-amount-value">1500</span>
            <span class="custmized-tooltip-currency">Dhs</span>
          </span>
        </p>
        <p class="custmized-tooltip-container">
          <span class="custmized-tooltip-label" data-lang="Status">Status<span class="custmized-tooltip-dots">:</span></span>
          <span class="custmized-tooltip-status-value" data-lang="Unpaid">Unpaid</span>
          </span>
        </p>

        <div class="arrow-up"></div>

    </div>
    <!-- End tooltip -->
    <script src="/javascripts/finance.js" type="text/javascript" charset="utf-8" async defer></script>
    <!--________________ Modals _____________-->

           <%- include('./partials/modals',{role:role}); %>

    <!--________________ End Modals _____________-->
</body>
<!-- end sections-main-container -->


</html>
