<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


 <%- include('./partials/main'); %>

</head>

<!-- sections-main-container -->
<body class="sections-main-container">
  
    <!-- main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <%- include('./partials/side_bar',{institution: institution}); %>
      <!-- end setup-main-container -->

      <!-- sub-container -->
      <div class="sub-container">

        <div class="sub-container-nav-bar">
            <span class="sub-container-nav-bar-title">Homeworks</span>
            <img  class="sub-container-nav-bar-img" src="<%= user.User_Image %>" alt="profile">
        </div>

        <!-- nav -->
          <%- include('./partials/nav_bar', {user: user}); %>
        <!-- End nav -->

        <!--  sections-main-sub-container 100%  -->
        <div class="sections-main-sub-container">

                <!--  sections-main-sub-container-left 30%  -->
                <div class="sections-main-sub-container-left">

                  <!-- .disable-action to disable user actions based on view role -->
                  <div class="sections-main-sub-container-left-search-bar ">

                    <div class="dynamic-form-input-dropdown-container">
                      <div class="dynamic-form-input-dropdown "> <!-- dynamic-form-input-first for full width inputs -->
                        <div class="dynamic-form-input">

                          <div class="dynamic-form-input-float-adjust">

                            <div class="form-group group form-group-left sub-form-group">
                              <input type="text" value="Classes" class="input-dropdown" name="filter-classe" required="">
                              <img class="icon button-icon" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options">
                                <li data-val="All">All</li>
                                 <% for(var i=0; i<classes.length; i++) {%>
                                     <li data-val="<%= classes[i].Classe_Label %>"><%= classes[i].Classe_Label %></li>
                                  <% } %>
                              </ul>
                            </div>
                            
                            <div class="form-group group form-group-right sub-form-group">
                              <input type="text" value="Subject" class="input-dropdown" name="filter-subject" required="">
                              <img class="icon button-icon" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options filter-subject">
                                <li data-val="All">All</li>
                                <% for(var i=0; i<subjects.length; i++) {%>
                                     <li class="row-subject" data-val="<%= subjects[i].Subject_Label %>"><%= subjects[i].Subject_Label %></li>
                                <% } %>
                              </ul>
                            </div>

                            <div class="square-button square-button-minus" data-toggle="modal" data-target="#AddHomeworkModal">
                              <img class="icon" src="assets/icons/plus.svg">
                            </div>

                          </div>



                        </div>
                      </div>
                    </div>

                  </div>
                  <!--  sections-main-sub-container-left-search-bar  -->

                  <!--  sections-main-sub-container-left-card-container  -->
                  <div class="sections-main-sub-container-left-card-container" id="list_homeworks">
                    <!--  sections-main-sub-container-left-cards  -->
                   
                    <!--  End sections-main-sub-container-left-cards  -->
                  </div>
                  <!--  End sections-main-sub-container-left-card-container  -->

                </div>

                <!--  sections-main-sub-container-right 70%  -->
                <div class="sections-main-sub-container-right hidden" id="homework_info">

                    <!-- sections-main-sub-container-right-main -->
                    <div class="sections-main-sub-container-right-main">

                        <div class="sub-container-form">
                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-header">

                                <div class="sections-main-sub-container-right-main-header-info">

                                  <div class="form-group disabled">
                                    <div class="input-img-container input-img-text-container  input-rounded-img-container input-rounded-img-container-extra-style homework_img" style="background: #fceeca;">
                                      FR
                                    </div>
                                  </div>

                                  <p class="label-full-name">Homework 1</p>

                                  <p class="sub-label-full-name">Subject - Class - Teacher Name </p>

                                </div>

                                <!-- sections-main-sub-container-right-main-header-option-list -->
                                <div class="sections-main-sub-container-right-main-header-option-list-container">
                                <img class="sections-main-sub-container-right-main-header-option-icon" src="assets/icons/options.svg">
                                <div class="sections-main-sub-container-right-main-header-option-list">
                                  <div class="sections-main-sub-container-right-main-header-option-list-li
                                              sections-main-sub-container-right-main-header-option-list-li-delete">
                                    <img src="assets/icons/delete.svg" alt="edit"/>   
                                    <span class="sections-main-sub-container-right-main-header-option-list-span">Delete</span>
                                  </div>
                                  <img class="sections-main-sub-container-right-main-header-option-icon-close" alt="close" src="assets/icons/close.svg">
                                </div>
                                </div>
                                <!-- End sections-main-sub-container-right-main-header-option-list -->

                            </div>

                            <!-- End sections-main-sub-container-right-main-header -->

                            <!-- tab-content -->
                            <div class="tab-content">

                              <!-- sections-main-sub-container-right-main-body : HomeworkDetails -->
                              <div id="HomeworkDetails" class="tab-pane fade in active  sections-main-sub-container-right-main-body">

                                  <div class="sections-main-sub-container-right-main-label-divider sections-main-sub-container-right-main-label-divider-extra-style">
                                        <p>Homework details</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-md-6">
                                      <div class="form-group group ">
                                        <input type="text" required="" name="homework_name">
                                        <label class="input-label">
                                          <span class="input-label-text">Homework name</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="form-group group dynamic-form-input-text-container-icon dynamic-form-input-text-container-icon-extra-style ">
                                          <input type="text" name="homework_date" class="input-text input-date input-date-from-today" required="" placeholder="">
                                          <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                          <label class="input-label">
                                            <span class="input-label-text">Delivery Date</span><span class="input-label-bg-mask"></span>
                                          </label>
                                      </div>
                                    </div>

                                  </div>


                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-md-12">
                                      <div class="form-group group ">
                                        <textarea class="input-text input-text-area" id="homework_description"></textarea>
                                        <label class="input-label">
                                          <span class="input-label-text">Homework description</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>

                                  </div>

                                    <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-md-12">

                                      <div class="form-group group ">

                                        <div class="file-container file-loaded">
                                          <div class="file-icon-label">
                                           <img  class="file-icon" src="assets/icons/file.svg" alt="file"/>
                                            <span class="file-label">Filename_loaded_file_state.pdf</span>
                                          </div>
                                           <img  class="file-close" src="assets/icons/close-gray.svg" alt="close"/>
                                        </div>

                                        <div class="file-container file-container-visibility">

                                          <div class="file-icon-label">
                                           <img  class="file-icon" src="assets/icons/file.svg" alt="file"/>
                                            <span class="file-label">Filename_uploading_file_state.pdf</span>
                                          </div>
                                          <img  class="file-close" src="assets/icons/close-gray.svg" alt="close"/>

                                          <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" 
                                               aria-valuemin="0" aria-valuemax="100">
                                               </div>
                                          </div>

                                        </div>

                                      </div>
                                    </div>

                                    <div class="col-md-12 file-add-btn-container">
                                      <div class="file-container file-add-btn">
                                          <div class="file-icon-label">
                                           <img  class="file-icon" src="assets/icons/attach.svg" alt="attach"/>
                                            <span class="file-label">add attachement</span>
                                          </div>
                                      </div>
                                    </div>

                                  </div>


                                  <!-- sub-container-form-footer-container -->
                                  <div class="sub-container-form-footer-container">
                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer hide-footer">

                                            <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color save-changes" onClick="saveChange()">
                                                  <span class="button-text" id="Editdetails">Save changes</span>
                                                  <img class="icon button-icon" src="assets/icons/check_small.svg">
                                            </div>

                                            <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary secondary-pink-button" onClick="discardChange()">
                                                  <span class="button-text discard-changes" >Discard</span>
                                            </div>

                                        </div>
                                        <!--  End sub-container-form-footer -->
                                  </div>
                                  <!-- End sub-container-form-footer-container -->

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : HomeworkDetails -->

                            </div>
                            <!-- End tab-content -->

                        </div>
                       
                    </div>
                    <!-- End sections-main-sub-container-right-main -->

                </div>

        </div>
        <!--  End sections-main-sub-container -->

    </div>
    <!-- sub-container -->



    <!--_____________ ChangesModal modal _____________-->

    <!-- Trigger the modal with a button -->
     
      <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ChangesModal" class="modal" role="dialog">

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Review changes</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                       <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onClick="saveChange()">
                                    <span class="button-text" >Save changes</span>
                                    <img class="icon button-icon" src="assets/icons/check_small.svg">
                        </div>

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button " onClick="discardChange()">
                              <span class="button-text" >Discard</span> 
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ChangesModal modal _____________-->

    <!--_____________ ConfirmDelete modal _____________-->

    <!-- Trigger the modal with a button -->

    <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ConfirmDeleteModal" class="modal" role="dialog" >

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Are you sure ?</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button " onClick="remove()">
                              <span class="button-text" >Confirm</span>
                        </div>

                        <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary">
                                    <span class="button-text" data-dismiss="modal" >Cancel</span>
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ConfirmDelete modal _____________-->

    <script src="/javascripts/homework.js" type="text/javascript" charset="utf-8" async defer></script>

    <!--________________ Modals _____________-->

           <%- include('./partials/modals',{classes: classes}); %>

    <!--________________ End Modals _____________-->

</body>
<!-- end sections-main-container -->


</html>
