<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


 <%- include('./partials/main'); %>

</head>

<!-- sections-main-container -->
<body class="sections-main-container  setup-update-main-container">
  
    <!-- main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <%- include('./partials/side_bar',{institution: institution,accounts:accounts,role:role}); %>
      <!-- end setup-main-container -->

      <!-- sub-container -->
      <div class="sub-container">

        <div class="sub-container-nav-bar">
            <span class="sub-container-nav-bar-title">Settings</span>
            <img  class="sub-container-nav-bar-img" src="<%= user.User_Image %>" alt="profile">
        </div>

        <!-- nav -->
          <%- include('./partials/nav_bar', {user: user,users:users,role:role}); %>
        <!-- End nav -->

        <!--  sections-main-sub-container 100%  -->
        <div class="sections-main-sub-container">

                <!--  sections-main-sub-container-left 30%  -->
                <div class="sections-main-sub-container-left">

                      <ul class="side-bar-ul">

                          <li class="side-bar-li active" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Details_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Details</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Academic_Year_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Academic year</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Level_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Levels</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Classe_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Classes</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Subject_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Subjects</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab"  href="#Expense_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Expenses</span>
                            </a>
                          </li>

                          <li class="side-bar-li" data-asset-active="" data-asset-inactive="">
                            <a data-toggle="tab" href="#Costs_Section">
                              <span class="side-bar-li-span side-bar-li-span-inactive">Costs</span>
                            </a>
                          </li>

                      </ul>

                </div>
                <!--  End sections-main-sub-container-left 30%  -->

                <!--  sections-main-sub-container-right 70%  -->
                <div class="sections-main-sub-container-right">

                    <div class="tab-content">

                          <!-- sub-container Details -->
                          <div  id="Details_Section" class="item tab-pane fade in active dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Details</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form">

                                <div class="form-group group">
                                  <div class="input-img-container input-square-img-container">
                                    <img class="input-img" id="Institution_Logo" src="<%= institution.Institution_Logo %>" />
                                    <input type="file"  accept="image/*" name="Institution_Image" id="Institution_Image" style="display: none;">
                                    <div class="rounded-button">
                                      <img class="icon" src="assets/icons/plus.svg">
                                      <label for="Institution_Image" style="cursor: pointer; display: block; height: 100%;width: 100%;">
                                      </label></img>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group group">
                                  <input type="text" required value="<%= institution.Institution_Name %>" name="Institution_Name">
                                  <label class="input-label"><span class="input-label-text">Shcool name</span> <span class="input-label-bg-mask"></span></label>
                                </div>

                                <div class="form-group group">
                                  <input type="text" required value="<%= institution.Institution_Email %>" name="Institution_Email">
                                  <label class="input-label"><span class="input-label-text">Email address</span> <span class="input-label-bg-mask"></span></label>
                                </div>

                                <div class="form-group group">
                                  <input type="text" required value="<%= institution.Institution_Phone %>" name="Institution_Phone">
                                  <label class="input-label"><span class="input-label-text">Phone number</span> <span class="input-label-bg-mask"></span></label>
                                </div>

                                <div class="form-group group">
                                  <input type="text" required value="<%= institution.Institution_wtsp %>" name="Institution_wtsp">
                                  <label class="input-label"><span class="input-label-text">Whatsapp business number</span> <span class="input-label-bg-mask"></span></label>
                                </div>

                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateDetails()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Details')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Details -->


                          <!-- sub-container Academic year -->
                          <div  id="Academic_Year_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Academic year</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form">

                                <div class="form-group group">
                                  <input type="text" required value="<%= academic.AY_Label %>" name="AY_Label">
                                  <label class="input-label"><span class="input-label-text">Academic Year Label</span> <span class="input-label-bg-mask"></span></label>
                                </div>


                                <div class="date-form-input-container">

                                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text input-label-text-active">Start Month</span> <span class="input-label-bg-mask"></span></label>

                                  <div class="date-form-input">

                                    <div class="form-group group form-group-extra-style">

                                      <input type="text" required readonly value="<%= academic.AY_Satrtdate %>" name="AY_Satrtdate">

                                      <label class="input-label input-label-move-to-top"><span class="input-label-text">Select Month</span> <span class="input-label-bg-mask"></span></label>
                                      <img class="icon button-icon" src="assets/icons/caret.svg">

                                      <div class="date-form-input-picker-container">
                                        <div class="date-form-input-picker row">
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line">January</span>
                                            <span class="col-xs-3 date-form-input-picker-label">February</span>
                                            <span class="col-xs-3 date-form-input-picker-label">March</span>
                                            <span class="col-xs-3 date-form-input-picker-label">April</span>

                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line">May</span>
                                            <span class="col-xs-3 date-form-input-picker-label">June</span>
                                            <span class="col-xs-3 date-form-input-picker-label">July</span>
                                            <span class="col-xs-3 date-form-input-picker-label">August</span>

                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line date-form-input-picker-label-last-of-line">September</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">Octobre</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">November</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">December</span>
                                        </div>
                                      </div>

                                    </div>
                                  </div>

                                </div>

                                <div class="date-form-input-container">

                                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text input-label-text-active">End Month</span> <span class="input-label-bg-mask"></span></label>

                                  <div class="date-form-input">

                                    <div class="form-group group form-group-extra-style">

                                      <input type="text" required readonly value="<%= academic.AY_EndDate %>" name="AY_EndDate">

                                      <label class="input-label input-label-move-to-top"><span class="input-label-text">Select Month</span> <span class="input-label-bg-mask"></span></label>
                                      <img class="icon button-icon" src="assets/icons/caret.svg">

                                      <div class="date-form-input-picker-container">
                                        <div class="date-form-input-picker row">
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line">January</span>
                                            <span class="col-xs-3 date-form-input-picker-label">February</span>
                                            <span class="col-xs-3 date-form-input-picker-label">March</span>
                                            <span class="col-xs-3 date-form-input-picker-label">April</span>

                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line">May</span>
                                            <span class="col-xs-3 date-form-input-picker-label">June</span>
                                            <span class="col-xs-3 date-form-input-picker-label">July</span>
                                            <span class="col-xs-3 date-form-input-picker-label">August</span>

                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-first-of-line date-form-input-picker-label-last-of-line">September</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">Octobre</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">November</span>
                                            <span class="col-xs-3 date-form-input-picker-label date-form-input-picker-label-last-of-line">December</span>
                                        </div>
                                      </div>

                                    </div>
                                  </div>

                                </div>

                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateAY()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Academic')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Academic year -->

                          <!-- sub-container Level -->
                          <div  id="Level_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Levels</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form" id="levels-container">
                                 <% for(var i = 0;i < levels.length ; i++) { %>                            
                                   <div class="dynamic-form-input row-levels">
                                      <div class="form-group group">
                                        <input type="text" required value="<%= levels[i].Level_Label %>" data-level="<%= levels[i].Level_ID %>" name="level-name">
                                        <label class="input-label"><span class="input-label-text">Level name</span> <span class="input-label-bg-mask"></span></label>
                                      </div>
                                      <div class="square-button hidden">
                                        <img class="icon" src="assets/icons/minus.svg">
                                      </div>
                                    </div>
                                <% } %>
                                <div class="square-button square-button-extra-style" id="Level_New_Dynamic_Form_Input">
                                  <img class="icon" src="assets/icons/plus.svg">
                                </div>
                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateLevels()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Levels')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Level -->

                          <!-- sub-container Classes -->
                          <div  id="Classe_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Classes</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form" id="classes-container">
                              <% for(var i = 0;i < levels.length ; i++) { %> 
                                <div class="dynamic-form-input-container row-levels" data-level="<%= levels[i].Level_ID %>">
                                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"><%= levels[i].Level_Label %></span> <span class="input-label-bg-mask"></span></label>
                                  <% 
                                    var filtred = classes.filter(classe => classe.Level_ID === levels[i].Level_ID)
                                  for(var j = 0;j < filtred.length ; j++) { %>
                                    <div class="dynamic-form-input">
                                        <div class="form-group group">
                                          <input type="text" required value="<%= filtred[j].Classe_Label %>" data-classe="<%= filtred[j].Classe_ID %>" name="classe-name" data-level="<%= levels[i].Level_ID %>">
                                          <label class="input-label"><span class="input-label-text">Classe name</span> <span class="input-label-bg-mask"></span></label>
                                        </div>
                                      <div class="square-button square-button-minus hidden">
                                        <img class="icon" src="assets/icons/minus.svg" >
                                      </div>
                                    </div>
                                  <% }%>
                                  <div class="square-button square-button-extra-style square-button-plus" id="Classe_New_Dynamic_Form_Input">
                                    <img class="icon" src="assets/icons/plus.svg">
                                  </div>

                                </div>
                              <% } %>

                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateClasses()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Classes')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Classes -->

                          <!-- sub-container Costs -->
                          <div  id="Subject_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Subjects</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form" id="subjects-container">
                                <% for(var i = 0;i < levels.length ; i++) { %> 
                                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style row-levels" data-level="<%= levels[i].Level_ID %>">

                                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"><%= levels[i].Level_Label %></span> <span class="input-label-bg-mask"></span></label>

                                  <div class="dynamic-form-input-dropdown-container">
                                    <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                      <div class="dynamic-form-input">
                                        <div class="form-group group">

                                            <select class="input-text-subject-select2" multiple name="language" data-level="<%= levels[i].Level_ID %>">
                                              <% 
                                                var filtredSubject = subjects.filter(subject => subject.Level_ID === levels[i].Level_ID);
                                              for(var j = 0;j < filtredSubject.length ; j++) { %>
                                                <option selected locked="locked" value="<%= filtredSubject[j].Subject_Label %>"><%= filtredSubject[j].Subject_Label %></option>
                                              <% } %>
                                            </select>
                                            <img class="icon button-icon" src="assets/icons/caret.svg">
                                        </div>

                                        <div class="square-button square-button-minus hidden">
                                          <img class="icon" src="assets/icons/minus.svg">
                                        </div>

                                      </div>
                                    </div>
                                  </div>

                                </div>
                                <% } %>

                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateSubjects()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Subjects')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Costs -->


                          <!-- sub-container Expenses -->
                          <div  id="Expense_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Expenses</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form" id="expense-container">
                                <% for(var i = 0;i < expenses.length ; i++) { %> 
                                  <div class="dynamic-form-input-dropdown-container row-expenses">
                                    <div class="dynamic-form-input-dropdown">
                                      <div class="dynamic-form-input">
                                        <div class="dynamic-form-input-float-adjust">
                                        <div class="form-group group form-group-left">
                                          <input type="text" class="input-text" required value="<%= expenses[i].Expense_Label %>" name="expense-name" data-expense="<%= expenses[i].Expense_ID %>">
                                          <label class="input-label"><span class="input-label-text">Expense name</span> <span class="input-label-bg-mask"></span></label>
                                        </div>
                                        <div class="form-group group form-group-right">
                                          <input type="text" value="<%= expenses[i].Expense_PaymentMethod %>" class="input-dropdown" name="payment_method" required>
                                          <img class="icon button-icon" src="assets/icons/caret.svg">
                                          <ul class="dynamic-form-input-dropdown-options">
                                              <li data-val="Monthly">Monthly</li>
                                              <li data-val="Annual">Annual</li>
                                          </ul>
                                        </div>
                                        </div>
                                        <div class="square-button square-button-minus hidden">
                                          <img class="icon" src="assets/icons/minus.svg">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <% } %>
                                  <div class="square-button square-button-extra-style" id="Expense_New_Dynamic_Form_Input">
                                    <img class="icon" src="assets/icons/plus.svg">
                                  </div>

                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateExpenses()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Expenses')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Expenses -->


                          <!-- sub-container Costs -->
                          <div  id="Costs_Section" class="item tab-pane fade dom-change-watcher" >
                            <div  class="sub-main-container">
                              <h1 class="sub-container-main-header">Costs</h1>
                              <h4 class="sub-container-sub-header">There are many variations of passages of Lorem Ipsum available, but the majority.</h4>

                              <form class="sub-container-form" id="costs-container">
                                <% for(var i = 0;i < levels.length ; i++) { %> 
                                <div class="dynamic-form-input-container dynamic-form-input-container-extra-style dynamic-form-input-container-extra-style-composed row-levels" data-level="<%= levels[i].Level_ID %>">
                                  <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"><%= levels[i].Level_Label %></span> <span class="input-label-bg-mask"></span></label>
                                   <% 
                                    var filtredCosts = costs.filter(cost => cost.Level_ID === levels[i].Level_ID);
                                  for(var j = 0;j < filtredCosts.length ; j++) { %>
                                  <div class="dynamic-form-input-dropdown-container" >
                                    <div class="dynamic-form-input-dropdown">
                                      <div class="dynamic-form-input">

                                        <div class="form-group group form-group-left">
                                          <input type="text" class="input-dropdown" required value="<%= filtredCosts[j].Expense_Label %>" name="cost-name" data-cost="<%= filtredCosts[j].Expense_ID %>">
                                          <label class="input-label"><span class="input-label-text">Expense Name</span> <span class="input-label-bg-mask"></span></label>
                                          <img class="icon button-icon" src="assets/icons/caret.svg">
                                          <ul class="dynamic-form-input-dropdown-options">

                                          </ul>
                                        </div>

                                        <div class="form-group group form-group-right">
                                           <input type="text" class="input-text" name="cost-price" required value="<%= filtredCosts[j].Expense_Cost %>" >
                                            <label class="input-label"><span class="input-label-text">Price</span> <span class="input-label-bg-mask"></span></label>
                                        </div>

                                        <div class="square-button square-button-minus hidden">
                                          <img class="icon" src="assets/icons/minus.svg">
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <% } %>
                                  <div class="square-button square-button-extra-style square-button-plus" >
                                    <img class="icon" src="assets/icons/plus.svg">
                                  </div>

                                </div>
                                <% } %>
                              </form>

                            </div>

                            <!--  sub-container-form-footer -->
                            <div class="sub-container-form-footer-container">
                                 
                                  <div class="sub-container-form-footer hide-footer">
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color cancel-change" onclick="updateCosts()">
                                            <span class="button-text" id="">Save changes</span>
                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                      </div>
                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button cancel-change" data-toggle="modal" data-target="#ChangesModal" onclick="discard('Costs')">
                                            <span class="button-text discard-changes" >Discard</span>
                                      </div>
                                  </div>
                                  
                            </div>  
                            <!--  End sub-container-form-footer -->

                          </div>
                          <!-- end sub-container Costs -->

                    </div>

                </div>
                <!--  End sections-main-sub-container-right 70%  -->

        </div>
        <!--  End sections-main-sub-container -->

    </div>
    <!-- sub-container -->


    <!--_____________ ChangesModal modal _____________-->

    <!-- Trigger the modal with a button -->
     
      <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ChangesModal" class="modal" role="dialog" >

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Review changes</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                       <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button ">
                                    <span class="button-text" >Save changes</span>
                                    <img class="icon button-icon" src="assets/icons/check_small.svg">
                        </div>

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button " 
                             data-dismiss="modal" id="Discard">
                              <span class="button-text" >Discard</span>
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ChangesModal modal _____________-->

    <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
      <div id="ConfirmDeleteModal" class="modal" role="dialog" >

        <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

          <!-- Modal content-->
          <div class="modal-content modal-content-finance">

            <div class="modal-body">

                <!-- modal-body-container -->

                <div class="modal-body-container">

                   <h1 class="sub-container-main-header sub-container-main-header-extra-style">Are you sure ?</h1>
                   <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                    You have made changes. Are you sure you want to discard them?
                   </h4>

                    <!--  sub-container-form-footer -->
                    <div class="sub-container-form-footer">

                        <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button ">
                              <span class="button-text" >Confirm</span>
                        </div>

                        <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary">
                                    <span class="button-text" data-dismiss="modal" >Cancel</span>
                        </div>
                       
                    </div>
                    <!--  End sub-container-form-footer -->

                </div>

            </div>

          </div>

        </div>

      </div>
    <!--_____________ End ConfirmDelete modal _____________-->

        <!--________________ Modals _____________-->

           <%- include('./partials/modals',{role:role}); %>

    <!--________________ End Modals _____________-->
    <script src="/javascripts/settings.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
<!-- end sections-main-container -->


</html>