<!DOCTYPE html>
<html>
<head>

	<title><%= title %></title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


  <%- include('./partials/main'); %>

</head>

<!-- sections-main-container -->
<body class="sections-main-container">
	
    <!-- main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <%- include('./partials/side_bar',{institution: institution,accounts:accounts,role:role}); %>
      <!-- end setup-main-container -->

      <!-- sub-container -->
      <div class="sub-container">

        <div class="sub-container-nav-bar">
            <span class="sub-container-nav-bar-title">Students</span>
            <img  class="sub-container-nav-bar-img" src="<%= user.User_Image %>" alt="profile">
        </div>

        <!-- nav -->
          <%- include('./partials/nav_bar', {user: user,users:users,role:role}); %>
        <!-- End nav -->

        <!--  sections-main-sub-container 100%  -->
        <div class="sections-main-sub-container">

                <!--  sections-main-sub-container-left 30%  -->
                <div class="sections-main-sub-container-left">

                  <!--  sections-main-sub-container-left-search-bar  -->

                  <!-- .disable-action to disable user actions based on view role -->
                  <div class="sections-main-sub-container-left-search-bar ">


                    <div class="dynamic-form-input-dropdown-container">
                      <div class="dynamic-form-input-dropdown "> <!-- dynamic-form-input-first for full width inputs -->
                        <div class="dynamic-form-input">

                          <div class="dynamic-form-input-float-adjust" id="classes_list">
                            <div class="form-group group form-group-left">
                              <input type="text" value="Classes" class="input-dropdown" name="classe" id="classe-filter" required="">
                              <img class="icon button-icon" src="assets/icons/caret.svg">
                              <ul class="dynamic-form-input-dropdown-options">
                                <li data-val="All">All</li>
                                  <% for(var i=0; i<classes.length; i++) {%>
                                     <li data-val="<%= classes[i].Classe_Label %>"><%= classes[i].Classe_Label %></li>
                                  <% } %>
                              </ul>
                            </div>
                            <div class="form-group group form-group-right">
                               <input type="text" class="input-text" required="" name="search" id="search-input" placeholder="Search students">
                               <img class="icon button-icon caret-disable-rotate" src="assets/icons/sidebar_icons/search.svg">
                            </div>

                            <%if (role === 'Admin') { %>
                              <div class="square-button square-button-minus" data-toggle="modal" data-target="#AddStudentModal">
                                <img class="icon" src="assets/icons/plus.svg">
                              </div>
                            <% } %>
                          </div>



                        </div>
                      </div>
                    </div>


                  </div>
                  <!--  sections-main-sub-container-left-search-bar  -->

                  <!--  sections-main-sub-container-left-card-container  -->
                  <div class="sections-main-sub-container-left-card-container" id="list_classes">
                   
                  </div>
                  <!--  End sections-main-sub-container-left-card-container  -->

                </div>

                <!--  sections-main-sub-container-right 70%  -->
                <div class="sections-main-sub-container-right hidden" id="student_info">

                    <!-- sections-main-sub-container-right-main -->
                    <div class="sections-main-sub-container-right-main">

                        <div class="sub-container-form">
                            <!-- sections-main-sub-container-right-main-header -->
                            <div class="sections-main-sub-container-right-main-header">

                                <div class="sections-main-sub-container-right-main-header-info">
                                  <div class="form-group">
                                    <div class="input-img-container input-rounded-img-container">
                                      <img class="input-img profile-img" src="assets/images/profiles/Profile1.jpg" alt="profile">
                                      <% if (role === 'Admin') { %>
                                       <input type="file"  accept="image/*" name="profile_image" id="img-profile" style="display: none;">
                                      <div class="rounded-button">
                                        <img class="icon" src="assets/icons/plus.svg">
                                        <label for="img-profile" style="cursor: pointer; display: block; height: 100%;width: 100%;">
                                        </label></img>
                                      </div>
                                      <% } %>
                                    </div>
                                    <p class="label-full-name label-full-name-modal" id="student_name"></p>
                                  </div>

                                  <p class="label-full-name profile-full-name">Chloé Modibo</p>

                                </div>

                                <!-- sections-main-sub-container-right-main-header-option-list -->
                                <%if (role === 'Admin') { %>
                                 <div class="sections-main-sub-container-right-main-header-option-list-container">
                                  <img class="sections-main-sub-container-right-main-header-option-icon" src="assets/icons/options.svg">
                                  <div class="sections-main-sub-container-right-main-header-option-list">
                                    <div class="sections-main-sub-container-right-main-header-option-list-li
                                                sections-main-sub-container-right-main-header-option-list-li-delete">
                                      <img src="assets/icons/delete.svg" alt="edit"/>   
                                      <span class="sections-main-sub-container-right-main-header-option-list-span">Delete</span>
                                    </div>
                                    <img class="sections-main-sub-container-right-main-header-option-icon-close" alt="close" src="assets/icons/close.svg">
                                  </div>
                                  </div>
                                <% } %>
                               
                                <!-- End sections-main-sub-container-right-main-header-option-list -->

                            </div>

                            <div class="sections-main-sub-container-right-main-tabs">
                                <ul class="clearfix nav nav-tabs">
                                  <li class="active"><a data-toggle="tab" href="#Details">Details</a></li>
                                  <li><a data-toggle="tab" href="#Absence">Absence</a></li>
                                  <%if (role === 'Admin') { %>
                                    <li><a data-toggle="tab" href="#Finance">Finance</a></li>
                                  <% } %>
                                  <li><a data-toggle="tab" href="#Exams">Exams</a></li>
                                  <li><a data-toggle="tab" href="#Homework">Homework</a></li>
                                  <li><a data-toggle="tab" href="#Attitude">Attitude</a></li>
                                  <li><a data-toggle="tab" href="#Grades">Grades</a></li>
                                </ul>
                            </div>
                            <!-- End sections-main-sub-container-right-main-header -->

                             <%
                             var readonly,inputLabel,inputDate,dropDown = "";
                             if (role === 'Admin') {
                                readonly = "";
                                inputLabel = "";
                                dropDown = "input-dropdown";
                                inputDate = "input-date input-date-illimited";
                             } else
                             {
                              inputLabel = "input-label-move-to-top";
                              inputDate = "";
                              dropDown = "input-text";
                                readonly = "readonly"
                             } %>
                            <!-- tab-content -->
                            <div class="tab-content">

                              <!-- sections-main-sub-container-right-main-body : Details -->
                              <div id="Details" class="tab-pane fade in active sections-main-sub-container-right-main-body">

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Student details</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-md-6">
                                      <div class="form-group group">
                                        <input type="text" required="" name="f_name" <%= readonly %>>
                                        <label class="input-label <%= inputLabel %>">
                                          <span class="input-label-text">First name</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="form-group group">
                                        <input type="text" required="" name="l_name" <%= readonly %>>
                                        <label class="input-label <%= inputLabel %>">
                                          <span class="input-label-text">Last name</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-md-6">

                                      <div class="dynamic-form-input-dropdown-container">
                                        <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                          <div class="dynamic-form-input">
                                            <div class="dynamic-form-input-float-adjust">
                                            <div class="form-group group form-group-right ">
                                              <input type="text" class="<%= dropDown %>" required name="level-detail" <%= readonly %>>
                                              <label class="input-label <%= inputLabel %>">
                                                <span class="input-label-text">Level</span><span class="input-label-bg-mask"></span>
                                              </label>
                                              <% if (role === 'Admin') { %>
                                              <img class="icon button-icon" src="assets/icons/caret.svg">
                                              <ul class="dynamic-form-input-dropdown-options">
                                                  <% for(var i=0; i<levels.length; i++) {%>
                                                     <li data-val="<%= levels[i].Level_Label %>"><%= levels[i].Level_Label %></li>
                                                  <% } %>
                                              </ul>
                                              <% } %>
                                            </div>
                                            </div>
                                            <div class="square-button square-button-minus">
                                              <img class="icon" src="assets/icons/minus.svg">
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>

                                    <div class="col-md-6">

                                      <div class="dynamic-form-input-dropdown-container">
                                        <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                          <div class="dynamic-form-input">
                                            <div class="dynamic-form-input-float-adjust">
                                            <div class="form-group group form-group-right">
                                              <input type="text" class="<%= dropDown %>" value="" required name="classe-detail" <%= readonly %>>
                                              <label class="input-label <%= inputLabel %>">
                                                <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                                              </label>
                                              <% if (role === 'Admin') { %>
                                              <img class="icon button-icon" src="assets/icons/caret.svg">
                                              <ul class="dynamic-form-input-dropdown-options list-classe">

                                              </ul>
                                              <% }%>
                                            </div>
                                            </div>
                                            <div class="square-button square-button-minus">
                                              <img class="icon" src="assets/icons/minus.svg">
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    
                                  </div>
                                  <div class="row sections-main-sub-container-right-main-rows">
                                     <div class="col-md-6">
                                      <div class="dynamic-form-input-dropdown-container">
                                        <div class="dynamic-form-input-dropdown dynamic-form-input-first">
                                          <div class="dynamic-form-input">
                                            <div class="dynamic-form-input-float-adjust">
                                            <div class="form-group group form-group-right">
                                              <input type="text" class="<%= dropDown %>" name="student_gender_detail" required <%= readonly %>>
                                              
                                              <label class="input-label <%= inputLabel %>">
                                                <span class="input-label-text">Gender</span><span class="input-label-bg-mask"></span>
                                              </label>
                                              <% if (role === 'Admin') { %>
                                              <img class="icon button-icon" src="assets/icons/caret.svg">
                                              <ul class="dynamic-form-input-dropdown-options dynamic-form-input-dropdown-gender-options">
                                                  <li data-val="Male"   data-user="Student">Male</li>
                                                  <li data-val="Female" data-user="Student">Female</li>
                                              </ul>
                                              <% } %>
                                            </div>
                                            </div>
                                            <div class="square-button square-button-minus">
                                              <img class="icon" src="assets/icons/minus.svg">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group group dynamic-form-input-text-container-icon">
                                         <input type="text" class="input-text <%= inputDate %>" name="birthdate_detail" required="" placeholder="" <%= readonly %>>
                                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                          <label class="input-label <%= inputLabel %>">
                                            <span class="input-label-text">Birthdate</span><span class="input-label-bg-mask"></span>
                                          </label>
                                      </div>
                                    </div>
                                    
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">
                                    <div class="col-md-6">
                                      <div class="form-group group ">
                                        <input type="text" required="" name="phone_number_detail" <%= readonly %>>
                                          <label class="input-label <%= inputLabel %>">
                                          <span class="input-label-text">Phone number</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group group ">
                                        <input type="text" required="" name="student_address_detail" <%= readonly %>>
                                        <label class="input-label <%= inputLabel %>">
                                          <span class="input-label-text">Address</span><span class="input-label-bg-mask"></span>
                                        </label>
                                      </div>
                                    </div>
                                    
                                  </div>

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Parents details</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-rows-parents
                                       sections-main-sub-container-right-main-rows-parents-details
                                  ">

                                    
                                    <% if (role === 'Admin') { %>
                                    <div class="col-md-6">
                                      <div class="square-button square-button-extra-style" id="Parents_New_Dynamic_Form_Input">
                                        <img class="icon" src="assets/icons/plus.svg">
                                      </div>
                                    </div>
                                    <% } %>
                                  </div>
                                  <% if (role === 'Admin') { %>
                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Subscription</p>
                                  </div>

                                  <div class="sub_list row sections-main-sub-container-right-main-rows sections-label-checkbox-container-rows sections-label-checkbox-container-rows-extra-style">

                                   

                                  </div>
                                  <% }%>
                                  <!--  sub-container-form-footer -->
                                  <div class="sub-container-form-footer-container">
                                       
                                        <div class="sub-container-form-footer hide-footer">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate rounded-button-primary-green-color" onClick="saveChange()">
                                                  <span class="button-text" id="">Save changes</span>
                                                  <img class="icon button-icon" src="assets/icons/check_small.svg">
                                            </div>
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button" data-toggle="modal" data-target="#ChangesModal" onClick="discardChange()">
                                                  <span class="button-text discard-changes" >Discard</span>
                                            </div>
                                        </div>
                                        
                                  </div>  
                                  <!--  End sub-container-form-footer -->

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Details -->

                              <!-- sections-main-sub-container-right-main-body : Exams -->
                              <div id="Exams" class="tab-pane fade  sections-main-sub-container-right-main-body hidden">

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Exams </p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">
                                      <table>
                                        <thead>
                                          <tr>
                                            <th scope="col">Exam Title</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Scores</th>
                                          </tr>
                                        </thead>
                                        <tbody class="exams-container">

                                        </tbody>
                                      </table>
                                    </div>

                                  </div>

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Exams -->

                              <!-- sections-main-sub-container-right-main-body : Homework -->
                              <div id="Homework" class="tab-pane fade  sections-main-sub-container-right-main-body hidden">

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Homework </p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">
                                      <table>
                                        <thead>
                                          <tr>
                                            <th scope="col">Homework title</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>
                                        <tbody class="homework-container">
                                          
                                        </tbody>
                                      </table>
                                    </div>

                                  </div>

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Exams -->

                              <!-- sections-main-sub-container-right-main-body : Grades -->
                              <div id="Grades" class="tab-pane fade  sections-main-sub-container-right-main-body">

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Subjects score</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-table">

                                    <div class="col-xs-12">
                                      <table class="table-extra-style">
                                        <thead>
                                          <tr>
                                            <th scope="col">Subject name</th>
                                            <th scope="col">Scores</th>
                                          </tr>
                                        </thead>
                                        <tbody class="scores-container">
                                          
                                        </tbody>
                                      </table>
                                    </div>

                                  </div>

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Grade</p>
                                  </div>

                                  <div class="sections-main-sub-container-right-main-result">
                                          <span class="sections-main-sub-container-right-main-result-label">Result</span>
                                          <span class="sections-main-sub-container-right-main-result-value result-score">0.00</span>
                                  </div>

                                  <p class="sections-main-sub-container-right-main-note">
                                  This is not the final result. some exams ahve nit been given a score yet!
                                  </p>

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Grades -->

                              <!-- sections-main-sub-container-right-main-body : Attitude -->
                              <div id="Attitude" class="tab-pane fade  sections-main-sub-container-right-main-body">

                                  <div id="attitude_title" class="sections-main-sub-container-right-main-label-divider">
                                        <p>Attitude </p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">

                                      <table id="attitude_table">

                                        <thead>
                                          <tr>
                                            <th scope="col" class="col-first">Interaction</th>
                                            <th scope="col" class="col-middle">Note</th>
                                            <th scope="col" class="col-last">Date</th>
                                          </tr>
                                        </thead>

                                        <tbody class="note_container">

                                        </tbody>

                                      </table>

                                    </div>

                                  </div>

                                  <!-- sub-container-form-footer-container -->
                                  <div class="sub-container-form-footer-container">
                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate " data-toggle="modal" data-target="#AddAttitudeModal">
                                                <span class="button-text" id="">Add attitude</span>
                                                <img class="icon button-icon" src="assets/icons/plus.svg">
                                            </div>
                                        </div>
                                        <!--  End sub-container-form-footer -->
                                  </div>
                                  <!-- End sub-container-form-footer-container -->



                                                                    <!--_____________ Attitude modal _____________-->

                                  <!-- Trigger the modal with a button -->
                                   
                                    <!-- Modal -->
                                    <div id="EditAttitudeModal" class="modal" role="dialog">

                                      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

                                        <!-- Modal content-->
                                        <div class="modal-content modal-content-finance">

                                          <div class="modal-body">

                                              <!-- modal-body-container -->

                                              <div class="modal-body-container">

                                                 <h1 class="sub-container-main-header">Attitude</h1>
                                                 <h4 class="sub-container-sub-header">
                                                  There are many variations of passages of Lorem Ipsum available.
                                                 </h4>

                                                  <div class="row sections-main-sub-container-right-main-rows">


                                                       <div class="col-md-6">
                                                        <div class="form-group group readonly">
                                                          <input type="text" required="" name="edit-classe" >
                                                          <label class="input-label">
                                                            <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                                                          </label>
                                                        </div>
                                                      </div> 
                                                      <div class="col-md-6">
                                                        <div class="form-group group readonly">
                                                          <input type="text" required="" name="edit-student">
                                                          <label class="input-label">
                                                            <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                                                          </label>
                                                        </div>
                                                      </div>
                                              
                                                  </div>

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                                                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Type</span> <span class="input-label-bg-mask"></span></label>

                                                      <div class="sections-checkboxes-main-container">

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                                                             dynamic-form-input-container-type" data-val="Positive" >
                                                            <div class="sections-label-checkbox-container " >
                                                              <div class="form-group group ">
                                                                <span class="expense_label">Positive</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" checked value="0" data-val="Positive" name="checkbox" id="" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Negative">
                                                            <div class="sections-label-checkbox-container ">
                                                              <div class="form-group group ">
                                                                <span class="expense_label">Negative</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" value="1" data-val="Negative"  name="checkbox" id="" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                      </div>

                                                  </div>

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style ">

                                                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date</span> <span class="input-label-bg-mask"></span></label>

                                                    <div class="form-group group dynamic-form-input-text-container-icon">
                                                       <input type="text" name="date" class="input-text input-extra-border input-date input-date-illimited" required="" 
                                                              placeholder="Select date">
                                                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                                    </div>

                                                  </div>

                                                  <div class="row sections-main-sub-container-right-main-rows">
                                                    <div class="col-xs-12">
                                                      <div class="form-group group">
                                                        <textarea class="input-text input-text-area" id="edit-note"></textarea>
                                                        <label class="input-label">
                                                          <span class="input-label-text">Note</span><span class="input-label-bg-mask"></span>
                                                        </label>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <!--  sub-container-form-footer -->
                                                  <div class="sub-container-form-footer">
                                                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button "  onclick="updateAttitude()">
                                                            <span class="button-text" >Save</span>
                                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                                      </div>
                                                      <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                                                            <span class="button-text" >Cancel</span>
                                                      </div>
                                                  </div>
                                                  <!--  End sub-container-form-footer -->

                                              </div>

                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                  <!--_____________ End Attitude modal _____________-->

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Attitude -->

                              <!-- sections-main-sub-container-right-main-body : Absence -->
                              <div id="Absence" class="tab-pane fade  sections-main-sub-container-right-main-body">

                                  <div id="reported_title" class="sections-main-sub-container-right-main-label-divider hidden">
                                        <p>Reported absence</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">

                                      <table id="reported_table" class="hidden">

                                        <thead>
                                          <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                          </tr>
                                        </thead>

                                        <tbody class="table_reported">

                                        
                                        </tbody>

                                      </table>
                                    </div>

                                  </div>                                            

                                  <div id="absence_title" class="sections-main-sub-container-right-main-label-divider hidden">
                                        <p>Absence & Retard</p>
                                  </div>

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">

                                      <table id="absence_table" class="hidden">

                                        <thead>
                                          <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>

                                        <tbody class="table_delay">

                                        </tbody>

                                      </table>
                                    </div>

                                  </div>


                                  <!-- sub-container-form-footer-container -->
                                  <div class="sub-container-form-footer-container">
                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate " data-toggle="modal" data-target="#AddStudentAbsenceModal">
                                                  <span class="button-text" id="">Add New</span>
                                                  <img class="icon button-icon" src="assets/icons/plus.svg">
                                            </div>
                                        </div>
                                        <!--  End sub-container-form-footer -->

                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer visibility">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right">
                                                  <span class="button-text">Save changes</span>
                                                  <img class="icon button-icon" src="assets/icons/check_small.svg">
                                            </div>
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary">
                                                  <span class="button-text" id="StudentBtnCancel" >Cancel</span>
                                            </div>
                                        </div>
                                        <!--  End sub-container-form-footer -->
                                  </div>
                                  <!-- End sub-container-form-footer-container -->

                                   <!--_____________ Absence modal _____________-->

                                  <!-- Trigger the modal with a button -->
                                   
                                    <!-- Modal -->
                                    <div id="EditAbsenceModal" class="modal modal-dom-change-watcher " role="dialog">

                                      <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

                                        <!-- Modal content-->
                                        <div class="modal-content modal-content-finance">

                                          <div class="modal-body">

                                              <!-- modal-body-container -->

                                              <div class="modal-body-container">

                                                 <h1 class="sub-container-main-header">Absence & Retard</h1>
                                                 <h4 class="sub-container-sub-header">
                                                  There are many variations of passages of Lorem Ipsum available.
                                                 </h4>

                                                  <div class="row sections-main-sub-container-right-main-rows">

                                                      <div class="col-md-6">
                                                        <div class="form-group group readonly">
                                                          <input type="text" required="" name="edit-classe" >
                                                          <label class="input-label">
                                                            <span class="input-label-text">Class</span><span class="input-label-bg-mask"></span>
                                                          </label>
                                                        </div>
                                                      </div> 
                                                      <div class="col-md-6">
                                                        <div class="form-group group readonly">
                                                          <input type="text" required="" name="edit-student">
                                                          <label class="input-label">
                                                            <span class="input-label-text">Student</span><span class="input-label-bg-mask"></span>
                                                          </label>
                                                        </div>
                                                      </div>
                                              
                                                  </div>

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style">

                                                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Absence or Retard </span> <span class="input-label-bg-mask"></span></label>

                                                      <div class="sections-checkboxes-main-container">

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left   
                                                             dynamic-form-input-container-type" data-val="Absence" >
                                                            <div class="sections-label-checkbox-container " >
                                                              <div class="form-group group">
                                                                <span class="expense_label">Absence</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" class="readonly" checked value="0" data-val="Absence" name="checkbox" id="" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Retard">
                                                            <div class="sections-label-checkbox-container ">
                                                              <div class="form-group group">
                                                                <span class="expense_label">Retard</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" class="readonly" value="1" data-val="Retard"  name="checkbox" id="" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                      </div>

                                                  </div>

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                                                       dynamic-form-input-container-session">

                                                      <label class="input-label dynamic-form-input-container-label"><span class="input-label-text"> Period or Session </span> <span class="input-label-bg-mask"></span></label>

                                                      <div class="sections-checkboxes-main-container">

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style" data-val="Period">
                                                            <div class="sections-label-checkbox-container ">
                                                              <div class="form-group group readonly">
                                                                <span class="expense_label">Period</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" value="0" data-val="Period" name="checkbox" id="" class="readonly" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                        <div class="sections-label-checkbox-main-container sections-label-checkbox-container-left "
                                                             data-val="Session">
                                                            <div class="sections-label-checkbox-container" >
                                                              <div class="form-group group readonly">
                                                                <span class="expense_label">Session</span>
                                                              </div>
                                                            </div>
                                                            <div class="customCheck customCheckRounded readonly">
                                                              <input type="checkbox" value="1" data-val="Session" checked class="readonly"  name="checkbox" id="" />
                                                              <label for="ck"></label>
                                                            </div>
                                                        </div>

                                                      </div>

                                                  </div>

                                                  <!--- Show in case of Absense combined with Period -->
                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                                                       dynamic-form-input-container-multi-date">

                                                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Period</span> <span class="input-label-bg-mask"></span></label>

                                                    <div class="flex flex-form-group-container">

                                                      <div class="form-group group dynamic-form-input-text-container-icon">
                                                         <input type="text" name="start-period" class="input-text input-date input-date-illimited" required="" placeholder="Start date">
                                                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                                      </div>

                                                       <div class="form-group group dynamic-form-input-text-container-icon">
                                                         <input type="text" name="end-period" class="input-text input-date input-date-illimited" required="" placeholder="End Date">
                                                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                                      </div>

                                                    </div>

                                                  </div>
                                                  <!--- End Show in case of Absense combined with Period -->

                                                  <!--- Show in case of Absense combined with Session || Retard -->

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                                                       dynamic-form-input-container-one-date">

                                                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Date </span> <span class="input-label-bg-mask"></span></label>

                                                    <div class="form-group group dynamic-form-input-text-container-icon">
                                                       <input type="text" class="input-text input-extra-border  input-date input-date-illimited" name="editDate" required="" placeholder="Select date">
                                                       <img class="icon button-icon caret-disable-rotate" src="assets/icons/date_icon.svg">
                                                    </div>

                                                  </div>

                                                  <div class="dynamic-form-input-container dynamic-form-input-container-extra-style
                                                       dynamic-form-input-container-multi-time">

                                                    <label class="input-label dynamic-form-input-container-label"><span class="input-label-text">Select time </span> <span class="input-label-bg-mask"></span></label>

                                                    <div class="flex flex-form-group-container">

                                                      <div class="form-group group dynamic-form-input-text-container-icon">
                                                         <input type="text" name="starTime" value="" class="input-text input-time" required="" placeholder="Time">
                                                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                                                      </div>

                                                       <div class="form-group group dynamic-form-input-text-container-icon">
                                                         <input type="text" name="endTime" value="" class="input-text input-time" required="" placeholder="Time">
                                                         <img class="icon button-icon caret-disable-rotate" src="assets/icons/time_icon.svg">
                                                      </div>

                                                    </div>

                                                  </div>

                                                  <!--- End Show in case of Absense combined with Session || Retard -->

                                                  <!--  sub-container-form-footer -->
                                                  <div class="sub-container-form-footer  hide-footer">
                                                      <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button " onclick="updateAbsence()">
                                                            <span class="button-text" >Save Changes</span>
                                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                                      </div>
                                                      <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary  secondary-pink-button" data-toggle="modal" data-target="#EditAbsenceModal">
                                                            <span class="button-text discard-changes" >Discard changes</span>
                                                      </div>
                                                  </div>
                                                  <!--  End sub-container-form-footer -->

                                              </div>

                                          </div>

                                        </div>

                                      </div>

                                    </div>
                                  <!--_____________ End Absence modal _____________-->

                              </div>
                              <!-- End sections-main-sub-container-right-main-body : Absence -->


                            
                              <!-- sections-main-sub-container-right-main-body : Finance -->
                              <%if (role === 'Admin') { %>
                               <div id="Finance" class="tab-pane fade  sections-main-sub-container-right-main-body">

                                  <div class="row sections-main-sub-container-right-main-rows">

                                    <div class="col-xs-12">

                                      <table>

                                        <thead>
                                          <tr class="list-months">
                                            <th class="col-extra-style" scope="col">Expenses</th>
                                          </tr>
                                        </thead>

                                        <tbody class="list-expenses">

                                          

                                        </tbody>

                                      </table>
                                    </div>

                                  </div> 

                                  <div class="sections-main-sub-container-right-main-label-divider yearly-expense">
                                        <p>Yearly expences</p>
                                  </div>
                                          
                                                                           

                                  <div class="sections-main-sub-container-right-main-label-divider">
                                        <p>Unpaid expences</p>
                                  </div>

                                  <div class="sections-main-sub-container-right-main-result sections-main-sub-container-right-main-result-extra-style">
                                          <span class="sections-main-sub-container-right-main-result-label sections-main-sub-container-right-main-result-label-extra-info">Total</span>
                                          <span class="sections-main-sub-container-right-main-result-value red-color unpaid-expense">3200 DH</span>
                                  </div>

                                  <!-- sub-container-form-footer-container -->
                                  <div class="sub-container-form-footer-container">
                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate " data-toggle="modal" data-target="#FinanceModal" onclick="executePayment()">
                                                  <span class="button-text">Execute payment</span>
                                                  <img class="icon button-icon" src="assets/icons/plus.svg">
                                            </div>
                                        </div>
                                        <!--  End sub-container-form-footer -->

                                        <!--  sub-container-form-footer -->
                                        <div class="sub-container-form-footer visibility">
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right">
                                                  <span class="button-text">Save changes</span>
                                                  <img class="icon button-icon" src="assets/icons/check_small.svg">
                                            </div>
                                            <div class="rounded-button rounded-button-primary rounded-button-float-right btn-secondary">
                                                  <span class="button-text" id="StudentBtnCancel" >Cancel</span>
                                            </div>
                                        </div>
                                        <!--  End sub-container-form-footer -->
                                  </div>
                                  <!-- End sub-container-form-footer-container -->

                              </div>
                              <% } %>
                             
                              <!-- End sections-main-sub-container-right-main-body : Finance -->

                            </div>
                            <!-- End tab-content -->

                            <!--_____________ ChangesModal modal _____________-->

                            <!-- Trigger the modal with a button -->
                             
                              <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
                              <div id="ChangesModal" class="modal" role="dialog" >

                                <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

                                  <!-- Modal content-->
                                  <div class="modal-content modal-content-finance">

                                    <div class="modal-body">

                                        <!-- modal-body-container -->

                                        <div class="modal-body-container">

                                           <h1 class="sub-container-main-header sub-container-main-header-extra-style">Review changes</h1>
                                           <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                                            You have made changes. Are you sure you want to discard them?
                                           </h4>

                                            <!--  sub-container-form-footer -->
                                            <div class="sub-container-form-footer">

                                               <div class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button save-changes" onclick="saveChange()">
                                                            <span class="button-text" >Save</span>
                                                            <img class="icon button-icon" src="assets/icons/check_small.svg">
                                                </div>

                                                <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button save-changes" data-dismiss="modal" onclick="discardChange()">
                                                      <span class="button-text" >Discard</span>
                                                </div>
                                               
                                            </div>
                                            <!--  End sub-container-form-footer -->

                                        </div>

                                    </div>

                                  </div>

                                </div>

                              </div>
                            <!--_____________ End ChangesModal modal _____________-->


                            <!--_____________ ConfirmDelete modal _____________-->

                            <!-- Trigger the modal with a button -->
                             
                              <!-- Modal data-toggle="modal" data-target="#ChangesModal" -->
                              <div id="ConfirmDeleteModal" class="modal" role="dialog" >

                                <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn ">

                                  <!-- Modal content-->
                                  <div class="modal-content modal-content-finance">

                                    <div class="modal-body">

                                        <!-- modal-body-container -->

                                        <div class="modal-body-container">

                                           <h1 class="sub-container-main-header sub-container-main-header-extra-style">Are you sure ?</h1>
                                           <h4 class="sub-container-sub-header  sub-container-sub-header-extra-style">
                                            You have made changes. Are you sure you want to discard them?
                                           </h4>

                                            <!--  sub-container-form-footer -->
                                            <div class="sub-container-form-footer">

                                                <div class="rounded-button default-button rounded-button-primary rounded-button-float-right  secondary-pink-button " onClick="remove()">
                                                      <span class="button-text" >Confirm</span>
                                                </div>

                                                <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                                                            <span class="button-text">Cancel</span>
                                                </div>
                                               
                                            </div>
                                            <!--  End sub-container-form-footer -->

                                        </div>

                                    </div>

                                  </div>

                                </div>

                              </div>
                            <!--_____________ End ConfirmDelete modal _____________-->



                            <!--_____________ Exam detail modal _____________-->

                            <!-- Trigger the modal with a button -->
                             
                              <!-- Modal -->
                              <div id="ExamDetailModal" class="modal" role="dialog">

                                <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

                                  <!-- Modal content-->
                                  <div class="modal-content modal-content-finance">

                                    <div class="modal-body">

                                        <!-- modal-body-container -->

                                        <div class="modal-body-container">

                                           <h1 class="sub-container-main-header">Exam 1</h1>
                                           <h4 class="sub-container-sub-header">
                                            Subject - Class - Teacher Name
                                           </h4>

                                            <div class="row sections-main-sub-container-right-main-rows">
                                              <div class="col-xs-12">
                                                <div class="form-group group readonly">
                                                  <input type="text" value="09-05-2020" class="input-text"/>
                                                  <label class="input-label">
                                                    <span class="input-label-text">Date</span><span class="input-label-bg-mask"></span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="row sections-main-sub-container-right-main-rows">
                                              <div class="col-xs-12">
                                                <div class="form-group group readonly">
                                                  <textarea class="input-text input-text-area">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
                                                  <label class="input-label">
                                                    <span class="input-label-text">Exam description</span><span class="input-label-bg-mask"></span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>

                                            <!--  sub-container-form-footer -->
                                            <div class="sub-container-form-footer">
                                                <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary"  data-dismiss="modal" >
                                                      <span class="button-text">Close</span>
                                                </div>
                                            </div>
                                            <!--  End sub-container-form-footer -->

                                        </div>

                                    </div>

                                  </div>

                                </div>

                              </div>

                            <!--_____________ End Exam detail modal _____________-->

                            <!--_____________ Homework detail modal _____________-->

                            <!-- Trigger the modal with a button -->
                             
                              <!-- Modal -->
                              <div id="HomeworkDetailModal" class="modal" role="dialog">

                                <div class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn ">

                                  <!-- Modal content-->
                                  <div class="modal-content modal-content-finance">

                                    <div class="modal-body">

                                        <!-- modal-body-container -->

                                        <div class="modal-body-container">

                                           <h1 class="sub-container-main-header">Homework 1</h1>
                                           <h4 class="sub-container-sub-header">
                                            Subject - Class - Teacher Name
                                           </h4>

                                            <div class="row sections-main-sub-container-right-main-rows">
                                              <div class="col-xs-12">
                                                <div class="form-group group readonly">
                                                  <input type="text" value="09-05-2020" class="input-text"/>
                                                  <label class="input-label">
                                                    <span class="input-label-text">Date</span><span class="input-label-bg-mask"></span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="row sections-main-sub-container-right-main-rows">
                                              <div class="col-xs-12">
                                                <div class="form-group group readonly">
                                                  <textarea class="input-text input-text-area">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
                                                  <label class="input-label">
                                                    <span class="input-label-text">Homework description</span><span class="input-label-bg-mask"></span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>

                                             <div class="row sections-main-sub-container-right-main-rows">

                                            <div class="col-md-12">

                                              <div class="form-group group list_files">

                                               

                                              </div>
                                            </div>

                                            </div>

                                            <!--  sub-container-form-footer -->
                                            <div class="sub-container-form-footer">
                                                <div class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary" data-dismiss="modal" >
                                                      <span class="button-text">Close</span>
                                                </div>
                                            </div>
                                            <!--  End sub-container-form-footer -->

                                        </div>

                                    </div>

                                  </div>

                                </div>

                              </div>

                            <!--_____________ End Homework detail modal _____________-->

                        </div>
                       
                    </div>
                    <!-- End sections-main-sub-container-right-main -->

                </div>

        </div>
        <!--  End sections-main-sub-container -->

    </div>
    <!-- sub-container -->

     <!--________________ Modals _____________-->

        <%- include('./partials/modals',{role:role}); %>

    <!--________________ End Modals _____________-->
    <script src="/javascripts/student.js" type="text/javascript" charset="utf-8" async defer>
      
    </script>
</body>
<!-- end sections-main-container -->


</html>
